@import "inc/variables";


body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
}

.page-wrapper {

  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  //background: #2e2f2f;


}

.wrapper-1050 {

  width: 1050px;
  margin: 0 auto;


  @media @w1024 {

    width: 1000px;

  }

  @media @w768 {

    width: 748px;

  }

  @media @w320 {

    width: 100%;
    padding-left:10px;
    padding-right: 10px;
    box-sizing: border-box;

  }

}




.icheckbox_minimal-blue, .iradio_minimal-blue {

  background-image: url('/local/assets/img/icheck-blue.png');


  @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {

    background-image: url('/local/assets/img/icheck-blue-2x.png');

  }

}

.endoexpert-button {


  height: 41px;
  line-height: 37px;
  box-sizing: border-box;
  border: 2px solid @quacol-main-color;
  border-radius: 6px;
  margin: 0 6px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: @quacol-main-color;
  font-family: inherit;
  padding: 0 34px;

  &[disabled] {

    background: lightgrey !important;
    cursor: auto;


  }

  &.-dark {
    background: @quacol-main-color;
    color: #fff;
  }

  &.-orange {
    background: #e5aa12;
    color: #fff;
    border: none;
    line-height: 41px;
  }


}

.endoexpert-breadcrumbs {

  padding: 10px 0 20px 0;
  font-size: 10px;
  font-family: Arial, sans-serif;
  color: #6a6c6c;
  a , span  {font-size: 12px;display: inline-block;margin: 0 5px;vertical-align: middle;}
  a {color: inherit;text-decoration: none;}
  span {color: #ffa430;}

}


.endoexpert-related-articles {

  margin-bottom: 40px;

  h2 {
    font-size: 24px;
    font-weight: normal;
    color: #161617;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  .load-more-wrapper {
    margin-top: 40px;
    text-align: center;
  }

  .lk-button {
    height: 41px;
    line-height: 41px;
    padding: 0 30px;
  }

}

.endoexpert-tag-list {

  a {
    display: inline-block;
    color: #fff;
    background: @main-color;
    font-size: 14px;
    padding: 4px 9px;
    margin: 0 4px 7px 0;
    border-radius: 5px;
    text-decoration: none;
  }

}


.ee-form-text-1 {

  box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 43px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 30px;
  font-size: 13px;
  font-weight: 300;
  font-family: inherit;

}



.ee-breadcrumbs {

  margin-bottom: 30px;
  font-size: 10px;
  color: #a5aaae;

  padding: 0 0 0 17px;

  a, span {
    font-size:14px;
    display: inline-block;
    margin: 0 4px;

    &:first-child {margin-left: 0}
  }

  a {color: inherit;text-decoration: none}

  span {color: #ffc000;}

}


.ee-inner-page {

  font-family: Roboto, sans-serif;
  font-weight: 300;
  padding-top: 10px;

  b, strong {font-weight: bold}

  background: #2e2f2f;

  .columns-layout {

    display: flex;
    justify-content: space-between;

  }


  .ee-main-wrapper {

    width: 800px;

  }

  .ee-sidebar {

    width: 230px;

  }



}


.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {

  background: #101011;

}

.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item {

  border-color: #606162;

}

.hc-offcanvas-nav a[href]:not([href="#"])>span.nav-next {
  border-color: #606162;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #606162;
  border-top: 1px solid #606162;
  border-bottom: 1px solid #606162;
}

.tooltipster-base {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.bg-full-width {.bg-full-width()}