@import "inc/variables";

.page-liversurgery {

  .ls-title {

    background: #bbcbe9;
    margin-bottom: 4px;

    span {

      display: block;
      height: 37px;
      line-height: 37px;
      background: @quacol-main-color;
      width: 264px;
      text-align: center;
      font-size: 21px;
      font-weight: 500;
      color: #fff;

      a {color: inherit;}



    }



  }

  #ls-slider {

    height: 487px;
    margin-bottom: 12px;

  }

  .ls-countdown {

    padding: 5px 0 3px 170px;
    margin-bottom: 12px;
    background: #0153a5;

  }

  .ls-menu {

    margin-bottom: 20px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;

    }

    li {

      background: @orange-color;
      color: #fff;
      display: inline-block;
      width: 156px;
      height: 41px;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      line-height: 41px;
      border-radius: 5px;
      margin-bottom: 3px;

      a {color: #fff;text-decoration: none;}

    }

  }

  .ls-text {
    line-height: 1.5em;

    p {margin: 1.5em 0;}
  }

  #ls-lectors-slider {

    margin-bottom: 40px;

    .swiper-button-prev {

      background-size: initial;
      .sprite(@ico-arrow4-left);
      margin-top: -16px;

    ;

    }

    .swiper-button-next {
      background-size: initial;
      .sprite(@ico-arrow4-right);
      margin-top: -16px;


    }

  }

  .ls-experts-list {

    h2 {font-size: 24px;text-align: center;margin: 0 0 15px 0;text-transform: uppercase;}

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
        line-height: 24px;
        display: block;
        margin-bottom: 29px;
        padding-left: 18px;
        box-sizing: border-box;
        border-left: 8px solid @quacol-main-color;
      }
    }

  }

  .ls-day-title {

    background: @quacol-main-color;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    padding: 10px 20px;
    font-weight: 500;
    margin-bottom: 30px;

    .title-date {font-size: 24px;text-transform: uppercase;}

    p {margin: 0}

  }

  .ls-table-title {font-weight: bold;font-size: 24px;text-transform: uppercase;margin-bottom: 20px;}

  .ls-table {

    width: 100%;
    background: #f8f8f8;
    font-size: 14px;
    color: #020709;
    border-collapse: collapse;
    margin-bottom: 15px;

    tr:nth-child(2n) td {background: #d9d9d9}

    th {

      font-size: 18px;
      font-weight: normal;
      padding: 15px 10px;
      text-align: left;
      box-sizing: border-box;

      &:first-child {width: 130px;}

    }

    td {
      padding: 10px 10px;
      line-height: 25px;
      vertical-align: top;

      span {color: #797e7f;}
    }

  }


  .ls-partners-pane {

    height: 51px;
    line-height: 51px;
    background-color: #bbcbe9;
    box-shadow: 0 2px 7.1px 1.9px rgba(13, 40, 93, 0.17);
    padding: 0 25px;
    display: flex;

    h2 {
      color: #fff;
      margin: 0;
      font-size: 24px;
      min-width: 250px;
      line-height: 51px;
    }

    .pane-logos {

      height: 100%;

      img {vertical-align: middle;margin-right: 25px;}

      a:last-child img {margin-right: 0;}





    }

  }

  .ls-partners {
    text-align: center;
    padding: 25px 0 40px 0;

    img {vertical-align: middle;margin: 0 55px;}

  }

  .ls-contacts {

    margin-bottom: 40px;

    color: #020709;

    a {color: @main-color}

    h2 {font-size: 24px;margin: 0;text-transform: uppercase;}

    table {

      td {
        padding-right: 50px;
        vertical-align: top;
        line-height: 20px;

      }





    }

  }

  @media @w768 {

    #ls-slider {
      height: auto;

      img {
        width: 100%;
        height: auto;
      }

    }

    .ls-countdown {

      padding: 5px;
      text-align: center;

      .ee-timer {

        display: inline-block;

        .timer-label {
          display: block;
          margin-bottom: 10px;
        }

      }

    }

    .ls-menu {


      text-align: center;
      width: 97%;
      margin: 0 auto;


      ul {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin-right: -5px;


        li {
          margin-right: 5px;
          width: 48%;
          flex: 0 0 auto;
          font-size: 15px;
        }

      }

    }

    .ls-text {
      padding: 0 5px;

      img {
        max-width: 100%;
        height: auto;
      }

    }

    .ls-experts-list {
      padding-right: 5px;
    }

    #ls-lectors-slider {

      img {
        max-width: 100%;
        height: auto;
      }

    }

    .ls-partners-pane {
      height: auto;
      display: block;

      .pane-logos {
        text-align: center;

        a {display: block;padding-bottom: 10px}
      }

    }

    .ls-partners {

      img {
        margin: 10px;
      }
    }

    .ls-contacts {

      padding: 0 5px;

      table {

        td {
          margin-bottom: 15px;
          display: block;
        }

      }

    }


  }

}

