@import "inc/variables";

.page-lpu {

  background: #030102;

  .ee-main-wrapper {background: #030102}

  .search-hint {
    font-size: 28px;
    font-weight: 300;
    color: @gold-color;
    margin-bottom: 20px;
  }

  .ee-search-block-2 {padding-bottom: 20px;}
  .ee-search-block-2 .form-wrapper .form-text {background: none}
  .ee-search-block-2 .form-wrapper button {box-shadow: none}

  .text-section {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 45px;
  }

  .letter-section {

    h2 {
      font-size: 38px;
      font-weight: 300;
      color: #606162;
      margin: 0 0 15px 0;

      span {
        color: @gold-color;
      }
    }

    .title-stripe {
      height: 9px;
      background: @link-color;
      margin-bottom: 10px;
    }

  }

  .ee-clinic-teaser, .ee-doctor-teaser {
    margin-bottom: 30px;
  }

  .default-section {

    margin-bottom: 30px;

    h2 {
      font-size: 40px;
      font-weight: 300;
      color: @gold-color;
      margin: 0 0 30px 0;
    }

  }

  .info-section {

    color: #8c8d8f;
    line-height: 1.4;

  }

  .ee-publication-teaser-v2 {

    border-color: @link-color;
    width: 252px;

  }





}