@import "inc/variables";

.page-video-online {

  background: #101012;

  .ee-main-wrapper {

    background: inherit;

    h1 {
      text-transform: uppercase;
      font-size: 29px;
      margin: 0 0 25px 0;
      font-weight: 300;
      padding-right: 180px;
    }

  }

  color: #b6b6b6;
  padding-top: 20px;
  position: relative;
  margin-bottom: 160px;

  .share-button {
    display: block;
    position: absolute;
    top: 50px;right: 0;
    .sprite(@ico-share3);
  }

  .video-player-wrapper {
    position: relative;

    .ee-time-counter {
      position: absolute;
      top: 35px;
      right: -180px;
    }

    .ico-link {
      cursor: pointer;

      position: absolute;
      top: 0;
      right: -60px;

    }
  }

  #player {

    //height: 591px;

    .player-poster:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: -1;
    }

    .play-wrapper {

      height: 37%;
      svg {display: none !important;}

      background: no-repeat center center url('/local/assets/img/play-wrapper-bg.png');

    }

  }


}

@media @w320 {

  .page-video-online {


    .ee-main-wrapper {

      h1 {
        font-size: 22px;
        padding: 0;
      }

    }

  }

}