@import "inc/variables";

.page-sections {

  background: #2e2f2f url("/local/assets/img/page_front/bg_front.jpg") top center repeat-y;
  padding-top: 0;

  .ee-main-wrapper {
    background: fade(#101011, 50%);
    padding: 10px 20px 0 20px;
  }

  .select-view-buttons {

    margin-bottom: 20px;

    .ee-button-3 {
      height: 32px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 15px;
      box-sizing: border-box;
      margin-right: 4px;

      &.-selected {
        color: #959595 !important;
        border-color: #959595;
      }
    }

  }

  .ee-sections-list {

    .section-card {

      margin: 0 4px 7px 3px;
    }

  }

  @media @w768 {

    .ee-main-wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }

    >.wrapper-1050 {
      padding-left: 0;
      padding-right: 0;
    }

    .select-view-buttons {
      text-align: center;

      a {
        display: none;
      }
    }

    .ee-sections-list {

      .list-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -8px;

      }

      .section-card {
        margin-right: 2px !important;
        margin-left: 2px !important;
        margin-bottom: 4px !important;

        width: 150px !important;
        height: 150px !important;

        .front .card-title {

          height: 36px !important;
          font-size: 11px !important;

        }

      }

    }


  }

}