@import "inc/variables";


.page-nominations-month {

  background: #2e2f2f url(/local/assets/img/page_front/bg_front.jpg) top center repeat-y;

  .ee-main-wrapper {

    background: transparent;

    h1 {
      color: #fff;
    }
  }



  .bg-dark {
    background: #101011;
    top: -10px;
    padding: 20px 0 30px 0;
    margin-bottom: 50px;
  }

  .text-section {
    color: #ababab;
    font-size: 12px;
    margin-bottom: 30px;
  }

  .ee-search-block-2 {
    padding-bottom: 0;
  }

  .divider-line {
    background: @link-color;
    height: 9px;
  }

  .bg-dark-transparent {
    background: fade(#101011, 80%);
    padding: 20px 0;
    margin-bottom: 30px;
  }

  .slider-section {

    h2 {
      color: @gold-color;
      font-weight: 300;
      font-size: 38px;
      margin: 0 0 15px;
    }

    .view-all-wrapper {
      text-align: right;
      margin-top: 15px;

      font-size: 16px;
      a {color: @gold-color;text-decoration: none}
    }


  }

  .ee-publication-teaser-v2 {border: none;width: 252px}

  .nom-list-section {

    margin-bottom: 30px;

  }

  .ee-reg-block {

    background: fade(#101011, 80%);
    padding: 60px 0 25px 0;
    margin-bottom: 30px;

  }

  .ee-info-list-block {
    margin-bottom: 15px;
  }

  .banner-section {
    margin-bottom: 15px;
  }

}