@import "inc/variables";


#page-front {

  .main-text {

    margin-bottom: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 300;

    display: flex;

    color: #030303;
    b, strong {font-weight: 500}


    .text-block {
      width: 55%;
      font-size: 16px;
      line-height: 22px;

      h2 {
        font-weight: 300;
        font-size: 28px;
        margin: 0 0 35px 0;
        line-height: 38px;

        span {font-size: 38px;}
      }

      a.join-button {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        background: #c90119;
        color: #fff;
        border-radius: 5px;
        font-size: 28px;
        padding: 10px 23px;
      }

    }

    .image-block {
      width: 45%;
      overflow: visible;
    }

    .join-button-wrapper-1 {display: none;}

    .expand-text-button-wrapper {display: none;}





  }

  .sections-list {

    background: #2e2f2f url("/local/assets/img/page_front/bg_front.jpg") top center repeat-y;
    padding: 14px 0 0 0;

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -7px;
      //justify-content: space-between;
    }



    .section-card {


      margin: 0 7px 12px 7px;
      width: 198px;
      height: 197px;
      font-size: 16px;
      font-family: Roboto, sans-serif;
      font-weight: 300;

      a {text-decoration: none;color: inherit;}


      .front {

        position: relative;
        height: 100%;
        overflow: hidden;

        img {position: absolute;}

        .card-title {

          color: #fff;
          background: rgba(46, 47, 47, 0.55);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 49px;
          padding: 4px 6px;
          box-sizing: border-box;
          font-size: 15px;
          line-height: 19px;

        }

      }

      .back {
        height: 100%;
        overflow: hidden;
        color: #fff;
        box-sizing: border-box;
        padding: 10px 10px 40px 10px;
        font-size: 14px;

        .back-text {

          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          .more-button {


              position: absolute;
              bottom: 10px;
              left: 39px;
              border: 1px solid #fff;
              box-sizing: border-box;

              padding: 3px 10px;
              font-size: 12px;
              width: 120px;






          }


        }

      }

    }

  }

  .search-block {

    background: #030202;
    padding: 25px 0 45px 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;


    form {
      position: relative;
      display: flex;
      margin-bottom: 12px;

      &:before {
        content: '';
        position: absolute;
        top: -20px;left: -55px;

        .sprite(@icon-search-3);

      }

      .form-text {

        flex: 1 1 auto;
        font-family: inherit;
        background: #fff;
        border-radius: 10px;
        border: 4px solid #fea928;
        font-size: 14px;
        height: 41px;
        line-height: 41px;
        box-sizing: border-box;
        outline: none;
        padding: 0 20px 0 75px;
        font-weight: inherit;



      }

      button {

        font-family: inherit;
        flex: 0 0 auto;
        width: 110px;
        margin-left: 12px;
        border: none;
        background: #fea928;
        color: #fff;
        height: 41px;
        line-height: 41px;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        font-weight: inherit;

      }

    }

    .last-queries {
      padding-left: 75px;
      font-size: 14px;
      color: #8e8e8e;
    }



  }


  .publications-block {

    background: #030202;
    padding-bottom: 20px;

    h2 {
      font-size: 38px;
      font-weight: 300;
      font-family: Roboto, sans-serif;
      margin: 0 0 30px 0;
      color: #fea928;
    }


    .view-all-wrapper {
      text-align: right;

      font-size: 16px;
      padding-top: 20px;

      a {color: @gold-color;text-decoration: none}
    }



  }

  .faces-slider-block {

    background: #2e2f2f;
    font-family: Roboto, sans-serif;
    font-weight: 300;

    padding: 40px 0;

    b, strong {font-weight: 500}

    h2 {
      font-size: 38px;
      font-weight: 300;
      font-family: Roboto, sans-serif;
      margin: 0 0 30px 0;
      color: #fea928;
    }





  }



  .events-block {

    box-sizing: border-box;
    height: 816px;
    padding: 35px 0;
    background: url("/local/assets/img/page_front/bg_events.jpg") top center no-repeat;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    border-bottom: 7px solid #139ed8;

    b, strong {font-weight: 500;}

    .events-wrapper {

      position: relative;
      background: rgba(0,0,0,0.8);
      box-sizing: border-box;
      height: 100%;
      padding: 24px;


    }

    h2 {
      font-size: 38px;
      font-weight: 300;

      margin: 0 0 40px 0;
      color: #fea928;
    }

    select {

      position: absolute;
      top:20px;
      right: 20px;

      border: 1px solid #fff;
      border-radius: 10px;
      height: 41px;
      line-height: 41px;
      background: #fea928;
      font-family: inherit;
      outline: none;
      padding: 0 25px;

    }


    .events-list {

      height: 605px;

      .list-item {


        position: relative;
        min-height: 110px;
        margin-bottom: 15px;
        padding: 0 0 0 170px;
        font-size: 18px;
        color: #fff;


        a {color: inherit;text-decoration: none;}

        .item-img {
          position: absolute;
          top: 0;
          left: 0;
          background: #cfdef1;
          width: 140px;
          height: 79px;
          overflow: hidden;

          img {width: 100%;height: auto}

        }

        .item-date {
          font-weight: 500;
          margin-bottom: 5px;
        }


      }


    }

    .view-all-wrapper {

      text-align: right;
      margin-top: 5px;

      a {
        color: @main-color;
        text-decoration: none;

        span {
          color: #fea928;
        }

      }


    }



  }

  .facebook-block {

    background: #2e2f2f url("/local/assets/img/page_front/bg_front.jpg") top center repeat-y;
    padding: 30px 0 50px 0;

    h2 {
      font-size: 38px;
      font-weight: 300;

      margin: 0 0 15px 0;
      color: #fea928;
      padding: 20px 20px;
      background: rgba(0,0,0,0.7);
    }

    .facebook-banner {

      display: block;
      position: relative;
      margin-bottom: 40px;
      text-decoration: none;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: #fea928;

      &:after {

        content:'';
        position: absolute;
        display: block;
        background: url("/local/assets/img/page_front/ico_banner_fb.png");
        width: 107px;
        height: 107px;
        top:8px;
        left: 8px;



      }

      ul {
        position: absolute;
        bottom: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;

        li {
          display: block;
          width: 25%;
          margin: 0;
          padding: 0 0 10px 0;
          text-align: center;
          font-size: 24px;
          line-height: 38px;


          span {
            font-size: 48px;display: block;font-weight: 500;
          }
        }

      }
    }

    .view-all-wrapper {
      text-align: right;

      font-size: 16px;
      padding-top: 20px;

      a {color: @gold-color;text-decoration: none}
    }



  }


  @media @w1024 {

    .sections-list {

      .list-wrapper {
        margin: 0;
      }

      .wrapper-1050 {

        width: 1024px;


      }

      .section-card {

        margin: 0 5px 10px 5px;
        width: 194px;

        .front {

          .card-title {font-size: 14px}

        }

      }

    }


    .search-block {

      .wrapper-1050 {

        padding-left: 65px;
        box-sizing: border-box;
      }

    }

    .facebook-block {

      .facebook-banner {
        img {width: 100%;height: auto;}
      }

    }

  }


  @media @w768 {

    .main-text {

      .text-block {

        width: 100%;

        a.join-button {
          font-size: 22px;
          text-align: center;
          line-height: 1.3;
        }

      }

      .image-block {

        display: none;

      }

      .join-button-wrapper-1 {display: block}
      .join-button-wrapper-2 {display: none}

      .join-button {display: block;width: 100%;text-align: center;box-sizing: border-box;}

      .text-body {display: none;}

      .expand-text-button-wrapper {
        display: block;
        text-align: right;

        button {

          background: #2e2f2f;
          border: none;outline: none;
          cursor: pointer;
          color: @gold-color;
          font-size: 14px;
          font-weight: 300;
          padding: 5px 15px;

          &:after {
            content: '';
            display: inline-block;
            background: url("/local/assets/img/ico_btn_down_arrow.png") top left no-repeat;
            width: 12px;
            height: 8px;
            margin-left: 10px;
          }
        }

      }
    }

    .search-block {
      display: none;
    }

    .publications-block {
      padding-top: 20px;

      .swiper-slide {width: auto;}

      &.-popular {
        padding-top: 0;
      }

    }

    .faces-slider-block {

      .swiper-slide {width: auto;}

    }

    .sections-list {


      .list-wrapper {
        justify-content: flex-start;
        flex-wrap: nowrap;

        .section-card {
          flex: 0 0 auto;
          width: 72px;
          height: 72px;
          margin-left: 2px;
          margin-right: 2px;

          img {max-width: 100%;height: auto;}

          .front .card-title {
            height: 18px;
            font-size: 5px;
            line-height: 1.3;
          }

         }

      }

      .wrapper-1050 {

        width: 100%;

        overflow: scroll;
        padding-left: 4px;
        padding-right: 4px;


      }

      .section-card {

        margin: 0 5px 10px 5px;
        width: 198px;

        .front {

          .card-title {font-size: 14px}

        }

      }

    }




    .events-block {

      background: #0e0e0e;
      padding: 0;

      height: auto;
      background-size: cover;

      h2 {
        margin-bottom: 10px;
      }

      select {
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 30px;
      }

    }

    .facebook-block {

      h2 {padding: 20px 10px;}

      .facebook-banner {

        ul {
          li {
            font-size: 18px;
            line-height: 28px;
            padding-bottom: 7px;
            span {font-size: 36px}
          }
        }

      }

    }


  }


  @media @w320 {

    .main-text {

      .text-block {
        width: 100%;
        font-size: 14px;

        h2 {

          font-size: 20px;
          margin-bottom: 15px;
          span {
            font-size: 27px;
          }

        }

        a.join-button {
          font-size: 16px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      .image-block {
        display: none;
      }

    }

    .search-block {

      .wrapper-1050 {

        padding-left: 10px;

        form {
          &:before {
            display: none;
          }

          .form-text {
            padding: 0 10px;
          }

          button {
            width: 65px;
          }
        }

      }

      .last-queries {
        padding-left: 0;
      }

    }

    .publications-block {
      h2 {font-size: 26px;padding-right: 50px;margin-bottom: 15px;}



    }

    .slider-wrapper {


      .swiper-slide {
        .news-item {display: inline-block}
      }

    }

    .faces-slider-block {

      padding: 20px 0;

      h2 {
        font-size: 26px;
        padding-right: 50px;
      }

      .face-block {

        width: 155px;

      }

    }

    .events-block {

      border-bottom: 0;

      padding: 0;

      h2 {font-size: 26px}

      .wrapper-1050 {
        padding-left: 10px;
        padding-right: 10px;
      }

      select {
        padding: 0 20px;
        width: 100%;
      }

      .events-list {

        height: 300px;
        margin-bottom: 10px;

        .list-item {

          font-size: 14px;

          padding-left: 0;
          min-height: 0;

          .item-img {display: none;}

        }

      }

      .view-all-wrapper {

        background: url("/local/assets/img/ico_events_calendar.png") top left no-repeat;
        padding-left: 70px;
        min-height: 59px;

      }

    }

    .facebook-block {

      background: #010204;
      padding-top: 0;
      padding-bottom: 20px;

      .swiper-slide {width: auto;}

      .wrapper-1050 {



      }

      h2 {font-size: 26px;font-family: Roboto, sans-serif;font-weight: 300;margin-bottom: 0;padding: 20px 0}

      .facebook-banner {

        display: none;

        margin-bottom: 20px;

        &:after {

          background-size: 48px 48px;
          background-repeat: no-repeat;

        }

        ul {

          display: none;

          li {

            font-size: 12px;
            line-height: 20px;

            span {

              font-size: 20px;
            }
          }
        }

      }

    }

  }






}


#front-page-slider {

  margin-bottom: 35px;
  background: #000;
  height: 600px;

  font-family: Roboto, sans-serif;
  font-weight: 300;

  b, strong {font-weight: 500}

  .swiper-slide {

    height: 100%;
    position: relative;

    .slide-link {
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;
    }

    .wrapper-1050 {
      position: relative;
      height: 100%;
    }

    .slide-numbers {

      position: absolute;
      bottom: 70px;

      color:#dea047;

      width: 100%;
      background: rgba(0,0,0, 0.5);

      .wrapper-1050 {
        display: flex;
        justify-content: space-between;

      }

      .numbers-item {

        text-align: center;
        font-size: 24px;
        padding: 10px 0;


        b {font-size: 48px;}

      }




    }

    .slide-text {

      position: absolute;
      bottom: 70px;
      padding: 1em 0;

      color:#dea047;

      width: 100%;
      background: rgba(0,0,0, 0.5);

      font-size: 24px;
      line-height: 1.4em;

      p {
        margin: 0;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      &.-two-columns .wrapper-1050 {
        column-count: 2;
        column-gap: 20px;

      }

    }

  }


  .swiper-pagination {

    width: 1050px;
    left: 50%;
    margin-left: -525px;

  }


  @media @w768 {

    height: auto;

    background: url("/local/assets/img/page_front/bg_front.jpg");

    .swiper-slide {

      background-size: contain !important;

      padding-top: 37%;




      .wrapper-1050 {
        height: auto;
      }

      .slide-numbers {

        position: relative;
        bottom: 0;

        .numbers-item {

          font-size: 14px;

          b {font-size: 28px}
        }



      }

      .slide-text {

        position: relative;
        bottom: 0;

        font-size: 16px;


      }

    }


  }

  @media @w320 {

    .swiper-slide {



      .slide-numbers {

        box-sizing: border-box;

        justify-content: center;

        .wrapper-1050 {
          box-sizing: border-box;
          padding: 0;
          flex-wrap: wrap;
          justify-content: center;
        }

        .numbers-item {

          margin: 0 5px 5px 5px;

          font-size: 16px;

          b {
            font-size: 28px;
          }

        }

      }

      .slide-text {

        &.-two-columns .wrapper-1050 { column-count: 1}



      }

    }








  }


}