@import "inc/variables";

.page-atlas {

  background: #030102;


  .ee-main-wrapper {

    background: #030102 !important;

  }

  &__text {
    margin-bottom: 55px;

  }

  &__wrap {

    padding: 0 20px;

  }

  &__sort {

    display: flex;
    justify-content: space-between;

    &-button {

      width: 290px;
      flex: 0 0 auto;

      .ee-button-3 {
        color: @gold-color !important;
        font-weight: 300;
        font-size: 18px;
        white-space: nowrap;
        height: 34px;
        line-height: 34px;
      }

    }


  }

  .ee-sort-panel {
    flex: 1 1 auto;
  }

  &__anatomic-cards {

    display: flex;
    justify-content: space-between;
    margin: 0 -0 35px;



  }

  .ee-atlas-list__title {
    margin-top: 40px;
  }

  .ee-quiz-card {
    margin-bottom: 40px;
  }



  &__upload {

    margin-bottom: 50px;

    &-wrap {

      padding: 30px 0;
      border-top: 2px solid #5a5858;
      border-bottom: 2px solid #5a5858;

    }

    .field-description {
      position: relative;

      textarea {
        display: block;
        height: 67px;
        padding-right: 120px;
      }

      button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 14px;
        font-family: inherit;
        color: #9d9999;
      }

      .chars-remaining {

        position: absolute;
        bottom: 40px;
        right: 10px;
        color: #322f2f;
        font-size: 10px;


      }

    }

  }

}