@import "inc/variables";

.page-publication {

  background: #2e2f2f url("/local/assets/img/page_front/bg_front.jpg") top center repeat-y;
  padding-top: 1px;
  padding-bottom: 50px;
  font-size: 16px;

  a {color: inherit}

  >.wrapper-1050 {


  }

  .ee-breadcrumbs {
    padding-left: 0;
  }

  h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 20px 0;
  }

  .ee-main-wrapper {

    width: 790px;
    padding: 0;
    background: #2e2f2f;


  }

  .toolbar-1 {

    background:#101011;
    height: 36px;
    display: flex;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;

    .points-bage {
      flex: 0 0 auto;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #5a5858;
      font-size: 18px;


      span,a {

        text-decoration: none;
        display: block;
        color: #fff;
        padding: 3px 10px;
        min-width: 58px;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 5px;
        box-sizing: border-box;


      }

      &.-gold {
        background: none;
        span,a {border-color: @gold-color}
      }
    }

    .share-icon-wrapper {

      width: 48px;
      flex: 0 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .share-widget {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .right-side {
      flex: 0 0 auto;
      background: #5a5858;
      line-height: 36px;
      padding: 0 16px 0 8px;

      .sep {
        width: 1px;
        background: #7a7979;
        display: inline-block;
        height: 13px;
        margin: 0 4px;
      }

      .time-text {

        color: #fff;
        font-weight: 300;
        font-size: 14px;
        display: inline-block;
        margin-left: 8px;

      }

      span, i {vertical-align: middle}

      i.ico-learn {cursor: pointer;margin-top: -4px;}
      i.ico-favorite {cursor: pointer}


    }

  }

  .toolbar-2 {
    background:#5a5858;
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;

    .left-side {
      height: 32px;
      line-height: 32px;
      padding-left: 10px;

      span, i {vertical-align: middle}

    }
    .sep {
      width: 1px;
      background: #7a7979;
      display: inline-block;
      height: 13px;
      margin: 0 4px;
    }

    .br-wrapper {display: inline-block}

    .rating-label {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      margin: 0 10px;
    }

    .attachments-button {

      background: #2e2f2f;
      color: #fff;
      display: inline-block;
      height: 100%;
      padding: 0 18px;
      line-height: 32px;
      cursor: pointer;

      i {vertical-align: middle}

      .fas {color: @gold-color;margin-left: 10px;}

    }

    i {cursor: pointer;}
    i.ico-learn {margin-top: -4px;}



  }

  .toolbar-3 {

    background:#5a5858;
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 18px;
    padding: 0 10px 0 0;

    .subscribe-checkboxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  table.authors-info {

    color: #5a5858;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;

    td:first-child {
      padding-right: 10px;
      vertical-align: top;
    }

    td:last-child {

      font-size: 12px;
      vertical-align: top;
      padding-bottom: 5px;
    }

    .author-name {
      text-decoration: none;
      display: inline-block;
      color: #6295d1;
      font-size: 14px;
      margin: 0 3px;
      padding: 5px 10px;
      background: #f3f3f3;
      border-radius: 5px;

    }

  }

  .text-section {

    padding: 1px 15px;
    margin: 0 -15px;
    color: #101011;
    font-weight: 300;

    img {
      max-width: 100%;
      height: auto;
    }

    &.-grey {background: #f3f3f3;}

    &.-bottom-gradient {

      position: relative;
      max-height: 120px;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#fff 100%);
      }




    }

    &.-lit {
      position: relative;

      .expandable-block {

        position: relative;

        &.-collapsed:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#fff 100%);
        }

        button {
          position: absolute;
          bottom: -48px;
          right: 0;
          background: none;
          color: #000;
          font-weight: 300;
          i {color: @gold-color}
        }

      }

    }

    h3 {
      font-weight: 300;
      margin: 10px 0 5px 0;
      font-size: 21px;
    }

    h3 + p {margin-top: 0;}



  }

  .ee-countdown-section {
    margin: -20px -15px 15px -15px;
  }


  .text-conclusion {

    color: #fff;
    background: #9e9e9e;
    line-height: 1.4;
    padding: 10px 10px;
    margin-right: -15px;
    margin-left: -15px;


    p {margin: 0}
  }


  .video-section {

    padding: 40px 15px 30px 15px;
    background: #212121;
    color: #fff;
    margin: 10px -15px;
    box-sizing: border-box;



    .video-title {

      font-size: 38px;
      font-weight: 300;
      margin-bottom: 40px;
      color: @gold-color;

    }

    .video-wrapper {
      text-align: center;
      margin-bottom: 20px;
    }

    .video-description {
      p {margin: 0}

    }

  }


  .expandable-block {

    .expandable-text {display: none;}

    .button-wrapper {
      text-align: right;

      button {
        border: none;
        outline: none;
        color: @gold-color;
        background: #2e2f2f;
        padding: 0 15px;
        height: 31px;
        line-height: 31px;
        cursor: pointer;
        font-weight: 500;
        user-select: none;
        font-family: inherit;
        i {margin-left: 10px;}
      }

    }

  }

  .publication-bottom-info {

    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.7;



    a {color: @main-color}

    .author-link {

      text-decoration: none;
      color: #999a9b;
      background: #f3f3f3;
      display: inline-block;
      vertical-align: middle;
      border-radius: 5px;
      padding: 0 5px;
    }



  }


  .bg-white {
    background: #fff;
    padding: 20px 15px 0 15px;
    margin: 0 -15px;

  }
  .bg-dark {

    background: #2e2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0 -15px;


  }

  .bg-grey {

    background: #606162;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-right: 30px;
    padding-left: 15px;
    margin: 0 -15px;


  }

  .bg-lightgrey {

    background: #2e2f2f;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 15px;
    margin: 0 -15px;


  }

  .publication-sponsors-block {

    background: #606162;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;

    h3 {
      font-weight: 300;
      font-size: 21px;
      color: @gold-color;
      margin: 0 0 20px 0;
      flex: 0 0 auto;
      width: 100%;
    }

    .logos-list {
      width: 58%;
      flex: 0 0 auto;

      .logo-img {
        width: 130px;
        height: 60px;
        box-sizing: border-box;
        border: 3px solid @gold-color;
        border-radius: 5px;
        background: #fff;
        text-align: center;
        display: inline-block;
        margin-right: 8px;

        line-height: 54px;


        img {max-height: 100%;width: auto;vertical-align: middle;}
      }

    }

    .block-text {
      flex: 0 0 auto;
      width: 42%;
      color: #fff;
      line-height: 1.4;

      p {margin: 0}



    }

  }

  .publication-ee-comment-block {
    margin-bottom: 40px;
    background: #606162;

    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 20px 5px 165px;

    color: #fff;
    line-height: 1.4;
    position: relative;


    .block-img {
      position: absolute;
      top: -10px;
      left: 20px;
      width: 125px;
      height: 125px;
      border-radius: 100%;
      border: 3px solid @gold-color;
      background: #101011 url("/local/assets/img/endoexpert_logo2.png") center center no-repeat;
    }

    h3 {
      font-weight: 300;
      font-size: 21px;
      color: @gold-color;
      margin: 0 0 5px 0;

    }

    p {
      margin: 0;
    }


  }

  .publication-expert-comments {

    h2 {
      font-weight: 300;
      color: @gold-color;
      font-size: 38px;
      margin: 0 0 70px 0;
    }

    .comment-item {
      background: #606162;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 35px 20px 35px 245px;
      position: relative;
      margin-bottom: 140px;
      box-sizing: border-box;


      .face-block {
        width: 200px;
        position: absolute;
        top: -35px;
        left: 20px;
      }

      .item-text {

        max-height: 88px;
        overflow: hidden;
        transition: max-height .5s ease-in;

        p {margin: 0}

        line-height: 1.4;
        color: #fff;

      }

      &.-expanded {

        .item-text {
          max-height: 1000px;

        }

        .expand-button:after {transform: rotate(180deg)}
      }

      .expand-button {
        position: absolute;
        bottom: -53px;
        right: 0;
        color: #6295d1;
        cursor: pointer;

        &:after {
          content: '\f078';
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 44px;
          font-size: 30px;
          border: 2px solid #6295d1;
          color: #6295d1;
          margin-left: 10px;
          border-radius: 100%;
          font-style: normal;
        }
      }
    }

  }

  .prev-next-block {

    color: @gold-color;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;

    a {text-decoration: none}

  }

  .publication-test-block {

    margin-bottom: 10px;

    h2 {
      font-weight: 300;
      color: @gold-color;
      font-size: 38px;
      margin: 0 0 25px 0;
    }

    .block-text {

      background: #101011;
      border: 1px solid #fff;
      border-radius: 5px;
      color: #fff;
      padding: 20px 30px;
      line-height: 1.4;

      ul {
        margin: 0;
        list-style: none;
        padding: 0;

        li {
          margin: 0;
          padding: 0 0 0 15px;
          background: url("/local/assets/img/bullet_2.png") 0 5px no-repeat;

        }
      }

      p {margin: 0}


      a {
        color: @main-color;
        text-decoration: none;
      }

      a.test-link {
        background: #fff;
        display: inline-block;
        color: #2e2f2f;
        border-radius: 3px;
        padding: 2px 10px;
        font-weight: 500;
      }

    }


  }

  .invite-friends-wrapper {
    padding: 0;
    margin: 0 0 10px 0;
  }

  .ee-invite-by-email-form {
    margin: 15px 0 40px 0;

    .form-submit {
      border: 1px solid #fff;
    }

  }

  .related-articles-block {

    margin-bottom: 30px;

    h2 {
      font-weight: 300;
      color: @gold-color;
      font-size: 38px;
      margin: 0 0 25px 0;
    }



    .load-more-wrapper {
      text-align: center;
      margin-bottom: 20px;
    }

  }

  .recommend-articles-block {

    margin-bottom: 30px;

    h2 {
      font-weight: 300;
      color: @gold-color;
      font-size: 38px;
      margin: 0 0 25px 0;
    }

    .swiper-button-prev, .swiper-button-next {display: none;}

    /*
    .teasers-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .ee-publication-teaser-v2 {
        width: 241px;
      }
    }
    */

    .slider-wrapper {

      margin-bottom: 30px;

    }

    .load-more-wrapper {
      text-align: center;
      margin-bottom: 20px;
    }

  }

  .tags-helper {
    margin: 50px 0 30px 0;
  }

  .create-publication-button-wrapper {
    text-align: center;
  }




  .ee-sidebar {
    background: #606162;
    margin-right: 5px;

    .ee-publication-teaser-v2 {

      width: 100%;
      margin-bottom: 10px;

      .publication-info {

        background: #57595c;

      }
    }

    .ee-publication-teaser-v3 {
      margin-bottom: 10px;
    }



  }


  .publication-toc {

    padding-right: 15px;

    a {
      display: block;
      margin-bottom: 7px;
      padding: 7px 10px;
      color: #101011;
      font-size: 14px;
      box-shadow: 0 0 6px rgba(6, 4, 4, 0.15);
      background: #fff;
      text-decoration: none;
      border-radius: 0 5px 5px 0;

      &:hover {

        color: @gold-color;
        font-weight: 500;
        background: #5a5858;

      }
    }



  }

  .sidebar-create-publication-button-wrapper {
    margin-bottom: 20px;

    .ee-button-2 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0;
    }
  }

  .attachments-list {
    padding: 20px 0;
    color: #fff;
  }

  .ee-locked-section {
    margin-left: -15px;
    margin-right: -15px;
  }

  .tags-helper-v2 {
    margin: 30px 0;

    a {
      color: #686666;
    }
  }


  @media @w768 {

    .ee-sidebar {display: none;}

    .ee-breadcrumbs {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 27px;
    }


    .ee-main-wrapper {

      max-width: 790px;
      width: 100%;

    }

    .toolbar-1 {

      .share-icon-wrapper {
        width: 40px;
        margin-right: -10px;
      }

      .share-widget {display: none}

      .right-side {
        background: none;

        .sep {margin: 0 2px;}
      }

      .points-bage {
        background: none;
        font-size: 13px;

        padding: 0 5px;

        a, span {
          min-width: 44px;
        }
      }

    }

    table.authors-info {

      margin-bottom: 10px;

      .author-name {
        margin-bottom: 5px;
      }

      td {display: inline;}

      tr:last-child {
        display: block;
        margin-top: 10px;

        td {display: block;margin: 5px 0;}
      }

    }

    .text-section {
      font-size: 14px;

      h3 {font-size: 17px;}

      &.-lit .expandable-block {

        margin-bottom: 20px;

        button {

          bottom: auto;

        }

      }
    }

    .text-conclusion {
      font-size: 14px;
    }

    .video-section {

      padding-top: 15px;

      font-size: 14px;

      .video-title {
        font-size: 27px;
        margin-bottom: 25px;
      }

      .video-wrapper {

        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

      }

    }

    .toolbar-3 {

      flex-direction: column-reverse;
      justify-content: stretch;
      padding: 0;

      .subscribe-checkboxes {

        background: #fff;


        br {display: none}

        label {
          background: #5a5858;
          display: block;
          width: 90%;
          margin: 0 auto 5px auto;
          border: 1px solid #000;
          border-radius: 5px;
          padding: 5px;

          &:last-child {
            margin-bottom: 10px;
          }

        }

      }

    }

    .toolbar-2 {

      display: block;
      position: relative;
      background: #2e2f2f;
      padding: 0 20px;
      text-align: center;
      margin-top: 65px;

      .rating-label {
        width: 80px;
        line-height: 1.3;
      }

      .sep {margin: 0 10px;}

      .left-side {
        display: inline;
        line-height: 45px;


        .rating-form {
          position: absolute;
          top: -65px;
          height: 65px;
          left: 0;
          background: #2e2f2f;
          width: 100%;
          padding-top: 10px;
          box-sizing: border-box;

          .br-wrapper {
            vertical-align: middle;
          }

          .br-theme-fa-stars-gold .br-widget {

            height: 31px;


            a {

              font-size: 31px;
              line-height: 31px;
              width: 40px;

            }
          }

        }
      }

      .right-side {
        display: inline;


      }

    }

    .attachments-list {

      padding: 0 15px;
      margin: 0 -15px;
      background: #2e2f2f;



    }

    .publication-sponsors-block {

      flex-direction: column;

      .logos-list {
        width: 100%;
        margin-bottom: 10px;

        .logo-img {
          width: 31%;
          margin-right: 3px;
          margin-bottom: 5px;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .block-text {
        width: 100%;
        font-size: 14px;
      }

    }

    .publication-ee-comment-block {

      padding-left: 20px;

      .block-img {
        width: 70px;
        height: 70px;
        background-size: contain;
      }

      h3 {
        padding-left: 85px;
        min-height: 60px;
      }

    }


    .publication-expert-comments {

      h2 {

        font-size: 27px;
        margin-bottom: 35px;
        padding: 0 15px;

      }

      .comment-item {
        padding: 0 15px 45px;
        margin-bottom: 35px;

        .face-block {

          width: 100%;
          box-sizing: border-box;
          position: relative;
          top: auto;
          left: auto;
          min-height: 135px;

          padding-left: 155px;



          .face-img {

            width: 135px;
            height: 135px;
            position: absolute;
            top: -15px;
            left: 0;


          }

          .face-name {
            display: block;
            padding-top: 15px;
            text-align: left;
          }
        }

        .expand-button {

          bottom: 10px;
          right: 15px;

          &:after {

            width: 20px;
            height: 20px;
            line-height: 22px;
            font-size: 14px;

          }

        }


      }



    }

    .prev-next-block {

      line-height: 2;

      a {display: inline-block}

    }

    .bg-grey {
      padding-right: 15px;
    }

    .bg-lightgrey {
      padding-right: 15px;
    }

    .publication-test-block {

      h2 {
        font-size: 27px;
      }

      .block-text {

        padding: 15px 10px;
        font-size: 14px;
      }

    }


    .invite-friends-wrapper {

      display: none;

    }

    .ee-invite-by-email-form {

      padding-left: 0;
      margin-bottom: 90px;
      position: relative;

       form {

         display: block;
         text-align: right;

         .form-text {
           margin-right: 0;
           width: 100%;
           margin-bottom: 10px;
         }

         .form-submit {padding: 0 15px}
       }

      &:before {

        content: '';
        background:url("/local/assets/img/invite_friends.png") center left no-repeat;
        width: 39px;height: 39px;
        position: absolute;
        top: -30px;
        left: 5px;

      }
    }

    .related-articles-block {



      h2 {
        font-size: 27px;
      }

      .publication-title {

        font-size: 14px;
        line-height: 1.3;
      }

      .publication-text {
        font-size: 14px;
        line-height: 1.3;
      }

    }

    .recommend-articles-block {



      h2 {
        font-size: 27px;
      }

      .swiper-slide {width: auto; text-align: left;}

      .swiper-button-prev, .swiper-button-next {display: block;}

    }



  }

}
