@import "inc/variables";

.page-add {

  background: #5a5858;

  .ee-main-wrapper {background: #5a5858 !important; h1 {color: #fff !important;}}


  @media @w320 {

    h1 {
      font-size: 27px !important;
    }

  }

}




.ee-form-actions {

  text-align: center;



  > * {margin: 0 7px;font-size: 14px;}


  @media @w320 {

    padding: 0 40px;

    > * {display: block;width: 100%;margin: 0 0 10px 0;padding: 0;text-align: center}

  }

}