@import "inc/variables";

.page-quiz {

  background: #030102;


  .ee-main-wrapper {

    background: #030102;

  }

  &__text {
    margin-bottom: 55px;

  }

  &__wrap {

    padding: 0 20px;

  }

  .ee-quiz-card {
    margin-bottom: 20px;
  }

  .ee-quiz-list {
    margin-bottom: 50px;
  }

  &__upload {

    margin-bottom: 30px;

    &-wrap {

      padding: 30px 0;
      border-top: 2px solid #5a5858;
      border-bottom: 2px solid #5a5858;

    }

    .field-description {
      position: relative;

      textarea {
        display: block;
        height: 67px;
        padding-right: 120px;
      }

      button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 14px;
        font-family: inherit;
        color: #9d9999;
      }

      .chars-remaining {

        position: absolute;
        bottom: 40px;
        right: 10px;
        color: #322f2f;
        font-size: 10px;


      }

    }

  }

}

@media @w320 {

  .page-quiz {

    .ee-section-title {
      margin-bottom: 30px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &__wrap {
      padding: 0;
    }

    &__upload {

      .ee-expandable-text-5 {

        &__title {

          padding-right: 40px;
          position: relative;

          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -16px;
          }

        }

      }

      .ee-upload-file-widget {

        padding-bottom: 135px;

        textarea {
          height: 120px;
        }

      }

    }

  }

}