@import "inc/variables";

.page-atlas {

  background: #030102;

  .ee-breadcrumbs {
    margin-bottom: 25px !important;
  }

  .ee-main-wrapper {

    background: #030102 !important;

  }

  &__text {
    margin-bottom: 55px;

  }

  &__wrap {

    padding: 0 20px;

  }

  &__sort {

    display: flex;
    justify-content: space-between;

    &-button {

      width: 290px;
      flex: 0 0 auto;

      .ee-button-3 {
        color: @gold-color !important;
        font-weight: 300;
        font-size: 18px;
        white-space: nowrap;
        height: 34px;
        line-height: 34px;
      }

    }


  }

  .ee-sort-panel {
    flex: 1 1 auto;
  }

  &__anatomic-cards {

    display: flex;
    justify-content: space-between;
    margin: 0 -0 35px;



  }

  .ee-atlas-list__title {
    margin-top: 40px;
  }

  .ee-quiz-card {
    margin-bottom: 40px;
  }



  &__upload {

    margin-bottom: 50px;

    &-wrap {

      padding: 30px 0;
      border-top: 2px solid #5a5858;
      border-bottom: 2px solid #5a5858;

    }

    .field-description {
      position: relative;

      textarea {
        display: block;
        height: 67px;
        padding-right: 120px;
      }

      button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 14px;
        font-family: inherit;
        color: #9d9999;
      }

      .chars-remaining {

        position: absolute;
        bottom: 40px;
        right: 10px;
        color: #322f2f;
        font-size: 10px;


      }

    }

  }

}

@media @w320 {

  .page-atlas {

    .ee-section-title {
      margin-bottom: 30px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    &__wrap {
      padding: 0;
    }

    &__upload {

      padding-top: 20px;

      border-top: 1px solid #4c4a4a;

      &-wrap {
        border-width: 1px;
      }

      .ee-expandable-text-5 {

        &__title {

          padding-right: 40px;
          position: relative;

          &:after {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -16px;
          }

        }

      }

      .ee-upload-file-widget {

        padding-bottom: 135px;

        textarea {
          height: 120px;
        }

      }

    }


    .ee-search-block-2 {

      margin-bottom: 25px;
    }

    &__sort {
      display: block;
      margin-bottom: 25px;

      &-button {
        margin-bottom: 25px;
      }

      .panel-row {display: block !important;}
    }

    &__anatomic-cards {

      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -3px;


      .ee-color-card {
        margin: 0 3px 6px 3px;
        width: 48%;
      }

    }

    .ee-atlas-list {

      margin-top: 20px;

      border-top: 1px solid #4c4a4a;

      &__title {
        margin-top: 20px;

      }

    }


  }

}