@import "inc/variables";


.page-users-db {

  background: #f4f4f4;
  padding: 20px 30px;
  margin: -10px auto 0 auto;

  .top-stats {

    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

    .stats-section-1 {

      td {
        font-weight: bold;
        padding-right: 40px;
        span { color: @orange-color}
      }

    }

    .stats-section-2, .stats-section-3 {

      padding-left: 25px;
      border-left: 1px solid #dbdbdb;

      td {
        padding: 3px 25px 3px 0;
        span {color: @main-color;}
      }

    }



  }

  h1 {font-size: 24px;font-weight: normal;margin: 0 0 30px 0;}

}

#users-db-app {

  .top-filters {

    margin-bottom: 20px;

    display: flex;

    .search-field {

      margin-right: 25px;

      input {
        height: 40px;
        line-height: 38px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        padding: 0 20px;
        width: 370px;
        font-family: inherit;
        font-size: 14px;
        outline: none;
      }

    }

    .quick-filters {

      width: 700px;
      margin-right: 60px;

      a {
        display: inline-block;
        background: @main-color;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        border-radius: 5px;
        margin-right: 3px;
        margin-bottom: 6px;
      }

    }



  }

  .db-table {

    font-size: 14px;
    border-collapse: collapse;

    td, th {
      border: 1px solid #d3d3d3;
      padding: 10px 6px;

      &.-color-1 {background: #e4effc;}

    }


    th {

      font-weight: normal;
      vertical-align:bottom;
      text-align:center;
      position: relative;
      width: 70px;
      padding-top: 50px;

      .col-settings {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 13px;
        height: 13px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAz1BMVEX///+GhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhob///+BzPW8AAAAQ3RSTlMAXOCqa0Sd7AoQeRlp+Lv2yNTCBUDw/pECufGz9xxdmvXtNAmyvXuxTavo03/00ctW+wESUH362wcbwCy/Qc9UetYDBKmSwgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAACLSURBVAjXLY7XEoJQEENjF/tVFBXsDRVUsPeS//8n9w6ct8zmZBbQJJIpxKQzyDKXNwpFCSWWK1WyplhvAGaTES2rLccO2bUV6fSA/mDI0RiTKTmbQxQupOHqMpYrci26R/obwNiS9s5zGJghsFfxZnAQ4Uie9D55vgDXm3V/0H+6r3cYPffhF/gBf/DhFyCuhwT3AAAAAElFTkSuQmCC');
      }

      > div {

        padding-bottom: 25px;
        position: absolute;
        top:10px;
        left: 0;
        padding-left: 6px;
        padding-right: 6px;




        input {



          width: 100%;
          box-sizing: border-box;
          border: 1px solid #d3d3d3;
          border-radius: 5px;
          outline: none;
          height: 23px;
          line-height: 21px;
          font-family: inherit;
          font-size: 13px;
          padding: 0 5px;


        }
      }



      span {
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode:vertical-rl;
        writing-mode: vertical-rl;
        transform:rotate(180deg);
        white-space: nowrap;
      }

    }

    td {
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      text-align: center;



    }

    td.user-pic-cell {

      padding: 5px 0;
      width: 106px;


      .user-pic {
        margin-bottom: 0;
        cursor: auto;

        > img {filter: grayscale(100%)}

        .stat-line {display: block;}
        .letter-labels {display: block;}
        .item-links {display: block;}
        .item-rank {display: block;}
      }

    }

    td.cell-stats {

      vertical-align: bottom;
      padding: 0;



      div {
        height: 75px;
        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          width:1px;
          vertical-align: bottom;
        }
      }

      span {
        display: inline-block;
        width: 6px;
        background: grey;
        vertical-align: bottom;

        &.s1 {background: #fdc200;}
        &.s2 {background: #c00000;}
        &.s3 {background: #6fae43;}
        &.s4 {background: #2f74b5;}
        &.s5 {background: #7f7f7f;}
        &.s6 {background: #a909c6;}

      }

    }

  }


}