@import "variables";

.ee-button-1 {

  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  height: 43px;
  line-height: 43px;
  background: #dea047;
  color: #fff !important;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;

  &.-grey {

    background: #606162;

  }

}

.ee-button-2 {

  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  background: @gold-color;
  height: 41px;
  line-height: 41px;
  padding: 0 35px;
  font-family: Eurostile, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

}

.ee-button-3 {

  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  background: #040505;
  height: 41px;
  line-height: 41px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;


}