@import "variables";

.ee-button-1 {

  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  height: 43px;
  line-height: 43px;
  background: #dea047;
  color: #fff !important;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;

  &.-grey {

    background: #606162;

  }

}

.ee-button-2 {

  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  background: @gold-color;
  height: 41px;
  line-height: 41px;
  padding: 0 35px;
  font-family: Eurostile, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

}

.ee-button-3 {

  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  background: #040505;
  height: 41px;
  line-height: 41px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;

  &.-gold {
    background: @gold-color;
  }

}


.ee-button-4 {

  font-family: inherit;
  flex: 0 0 auto;
  margin-left: 12px;
  margin-right: 12px;
  box-sizing: border-box;
  border: 3px solid #101011;
  background: @gold-color;
  color: #101011;
  height: 41px;
  line-height: 35px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(244, 245, 246, 0.4);

}

.ee-button-5 {

  display: inline-block;
  text-align: center;
  border: 1px solid #686666;
  outline: none;
  color: #686666 !important;
  text-decoration: none;
  background: #101011;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;


}

.ee-button-6 {

  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  background: #212121;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

.ee-button-7 {

  display: inline-block;
  text-align: center;
  outline: none;
  height: 38px;
  line-height: 38px;
  border: 1px solid #fff;
  background: @gold-color;
  color: #212121 !important;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0 40px;

  &.-red {
    background: #de2a2a;
    color: #fff !important;
  }


}

.ee-button-8 {

  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid #139ed8;
  outline: none;
  color: #139ed8 ;
  text-decoration: none;
  background: #101011;
  height: 24px;
  line-height: 22px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;


}

.ee-button-9 {

  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  outline: none;
  color: #fff ;
  text-decoration: none;
  background: #78797a;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;

  &.-gold {
    background: @gold-color;
    color: #101011;
  }


}

.ee-button-10 {

  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  background: @link-color;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  height: 41px;
  line-height: 41px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;

}

.ee-button-11 {

  display: inline-block;
  text-align: center;
  border: none;
  background: #de2a2a;
  outline: none;
  color: #fff !important;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;

}