@import "variables";

.dark-block {

  background: fade(#040304, 70%);
  color: #fff;
  padding: 15px 20px 15px 20px;

  h2 {

    color: #dea047;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 20px;
    border-bottom: 1px solid #6798d2;
    padding-bottom: 3px;


  }




}