@import "variables";

.edu-module-review-block {

  background: #bbcbe9;
  margin-bottom: 30px;
  box-shadow: 0 2px 7.1px 1.9px rgba(13, 40, 93, 0.17);
  padding: 20px;

  form {
    display: flex;

    .form-message {
      flex: 1 1 auto;

      textarea {
        width: 100%;
        min-height: 95px;
        box-sizing: border-box;
        outline: none;
        resize: vertical;
        border-radius: 6px;
        background: #fff;
        padding: 10px 20px;
        border: none;
      }

    }

    .form-actions {
      width: 189px;
      box-sizing: border-box;
      padding-left: 29px;
      flex: 0 0 auto;

      .rating-stars-title {

        font-weight: 500;
        font-size: 16px;
        color: @quacol-main-color;
        margin-bottom: 5px;

      }

      .rating-stars {

        margin-bottom: 13px;

        .br-theme-css-stars .br-widget a:after {display: none;}
        .br-theme-css-stars .br-widget a {

          .sprite_2x(@ico-br-star3);

          margin: 0 5px;
        }
        .br-theme-css-stars .br-widget a.br-selected, .br-theme-css-stars .br-widget a.br-active {

          .sprite_2x(@ico-br-star-selected3);
        }


      }




    }

  }


}