@import "variables";

.ee-article-image-slider {

  background: #101011;
  color: #fff;

  margin: 20px -15px 20px -15px;
  padding: 60px 0 20px 0;

  .sliders-wrapper {

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }

  .slider-large {

    width: 620px;
    flex: 0 0 auto;
    cursor: zoom-in;

    .image-description {display: none;}

  }


  .slider-small {

    width: 160px;
    flex: 0 0 auto;
    position: relative;
    padding: 30px 0 18px 0;
    box-sizing: border-box;


    .swiper-container {

      height: 290px;
    }

    .swiper-slide {
      cursor: pointer;
    }

    .button-prev, .button-next {

      width: 100%;
      height: 20px;
      border: 1px solid #fff;
      box-sizing: border-box;
      border-radius: 5px;
      position: absolute;
      top: 0;left: 0;
      background: #606162;
      cursor: pointer;
      text-align: center;

      &.button-next {
        top: auto;
        bottom: 0;
      }

    }

  }

  .slide-description {

    padding: 0 10px;
    font-size: 16px;
    line-height: 1.4;

    b, strong { font-size: 18px;}

  }


  .full-screen-wrapper {

    display: none;

    position: fixed;
    z-index: 1000;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;

    .slides-counter {
      position: absolute;
      top: 0;
      left: 0;
      height: 90px;
      color: #999;
      font-weight: 500;
      border-left: 3px solid #671719;
      padding: 15px 10px;
    }

    .control-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

    }

    .rows-layout {

      max-width: 90%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: stretch;

      .row-item {

        position: relative;

        flex: 1 1 auto;

        &:first-child {

          flex: 0 0 auto;
          height: 60px;
        }


        &:last-child {

          flex: 0 0 auto;
          height: 120px;
        }

      }

    }

    .rating-form {

      text-align: center;

      > div {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
      }

      > span {
        display: inline-block;
        vertical-align: middle;
        color: #bcbcbc;
        font-size: 18px;
        margin-right: 10px;
      }

      .br-theme-fa-stars-gold .br-widget a {
        font-size: 32px;
        line-height: 32px;
        width: 40px;
      }
    }

    #full-screen-slide-description {
      flex: 0 0 auto;
      padding: 25px 0;
      line-height: 1.4;
      b {font-size: 18px;}
    }

    .full-screen-large-slider-wrapper {

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;left: 0;
    }

    #full-screen-large-slider {

      height: 100%;

      .swiper-wrapper {
        height: 100%;
      }


      .swiper-slide {

        height: 100%;
        background: center center no-repeat;
        background-size: contain;



        .image-description {
          display: none;
        }

      }

    }

    #full-screen-small-slider {

      .swiper-slide {

        width: auto;
        cursor: pointer;

        &.-selected {

          border: 1px solid #fff;

        }

      }

    }

  }


  @media @w768 {

    padding-top: 10px;
    margin-bottom: 30px;

    .sliders-wrapper {

      display: block;
      margin-bottom: 0;

    }

    .slider-large {
      width: 100%;

      .swiper-slide {

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .slider-small {

      width: 100%;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 0;
      margin-top: 7px;

      .swiper-container {
        height: auto;
      }

      .swiper-slide {width: auto}

      .button-next {

        height: 90px;
        width: 20px;
        top: 0 !important;
        right: 9px;
        left: auto;

        line-height: 90px;
        i {transform: rotate(-90deg)}

      }

      .button-prev {

        height: 90px;
        width: 20px;
        top: 0 !important;
        right: auto;
        left: 9px;

        line-height: 90px;
        i {transform: rotate(-90deg)}

      }

    }

    .slide-description {
      font-size: 14px;

      b {font-size: 14px;}
    }



  }

}
