@import "variables";

.ee-checkbox-1 {

  user-select: none;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  input {display: none}

  span {
    display: inline-block;


    &:before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      border: 1px solid #fff;
      vertical-align: middle;
      margin-right: 11px;
      margin-top: -2px;
    }
  }

  input:checked + span:before {



    background: center center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAICAMAAAAC2hU0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAWlBMVEXUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjibUjib///+I3bYjAAAAHXRSTlMAMWvKTP7TEgIR6flyXepYjPpTN9na9m4Ty6sVGCEyVocAAAABYktHRB3rA3GRAAAACXBIWXMAAAsSAAALEgHS3X78AAAANUlEQVQI12NgAANGCMXEDKZYWNkYGNg5OLm4eRh4+fgFBIUYGIRFRMXEQZISklIQxdIyQAIAI1oBl2XhP1AAAAAASUVORK5CYII=');
  }


}