@import "variables";

.ee-invite-by-email-form {

  padding-left: 55px;
  height: 41px;

  position: relative;

  &:before {
    content: "";
    position: absolute;top: 0;left: 0;
    .sprite(@ico-invite-friends);
  }


  form {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .form-text {
      flex: 1 1 auto;
      height: 100%;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      outline: none;
      box-sizing: border-box;
      padding: 0 10px;
      font-size: 14px;
      font-family: inherit;
      line-height: 41px;
      margin-right: 10px;


    }

    .form-submit {


      height: 100%;
      flex: 0 0 auto;
      padding: 0 20px;
      cursor: pointer;
      box-sizing: border-box;
      color: #fff;
      font-family: inherit;
      line-height: 41px;
      background: #2e2f2f;
      border: none;
      font-size: 14px;
      border-radius: 5px;
      outline: none;

    }

  }



}