@import "variables";

.ee-link-widget {

  display: flex;
  border: 1px solid #000;

  .widget-label {
    font-size: 16px;
    color: #bcbcbc;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .widget-field {

    a, span {
      display: block;
      width: 175px;
      overflow:hidden;
      text-overflow: ellipsis;
      padding: 0 0 0 5px;
      font-size: 12px;
      color: #606162;
      border: none;
      outline: none;
      box-sizing: border-box;
      height: 40px;
      line-height: 40px;
      background: #fff;

    }

  }

  .widget-btn {

    cursor: pointer;
    width: 50px;
    background: url("/local/assets/img/icons/ico_copy.png") center center no-repeat;

  }

}