@import "variables";

.ee-subscribe-form {

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;

    sup {
      color: @gold-color;
    }
  }
  .form-text {

    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid @gold-color;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: inherit;

  }

  .form-actions {
    text-align: center;
  }

}