@import "variables";

.endoexpert-pagination {
  margin: 45px 0;
  text-align: center;
  color: #101011;
  font-size: 16px;
  font-weight: bold;

  a, span {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    margin: 0 5px;
  }

  span.current {color: @main-color}

  a.first {
    .sprite(@ico-pagination-first);
  }

  a.last {
    .sprite(@ico-pagination-last);
  }

  a.previous {
    margin: 0 10px;
    .sprite(@ico-pagination-prev);
  }

  a.next {
    margin: 0 10px;
    .sprite(@ico-pagination-next);
  }





}


.vue-pagination {

  display: block;
  padding: 0;
  list-style: none;
  margin: 25px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  user-select: none;

  li {
    margin: 0 4px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;

    a {
      color: #101011;
      text-decoration: underline;
      outline: none;
      display: inline-block;
      vertical-align: middle;

      &.break-view {text-decoration: none}

    }

    .next {
      .sprite(@ico-pagination-next);
    }
    .last {
      display: inline-block;
      vertical-align: middle;
      .sprite(@ico-pagination-last);
    }
    .previous {
      .sprite(@ico-pagination-prev);
    }
    .first {
      display: inline-block;
      vertical-align: middle;
      .sprite(@ico-pagination-first);
    }


    &.active a {color: @main-color;text-decoration: none;}

  }

}