@import "variables";


.endoexpert-footer-menu {

  background: #2e2f2f;
  padding: 77px 0 0 0;
  color: #b8b7c5;
  font-size: 16px;

  #footer-menu-slider-prev {display: none}
  #footer-menu-slider-next {display: none}

  a {color: inherit;text-decoration: none;&:hover {text-decoration: underline;}}

  .footer-menu-wrapper {

    position: relative;

    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
  }

  .menu-section {
    width: 238px;
    padding-bottom: 60px;

    h3 {
      font-size: 21px;
      font-weight: normal;
      height: 50px;
      box-sizing: border-box;
      padding-left: 65px;
      padding-top: 7px;
      position: relative;

      &:before {
        content: '';
        width: 65px;
        height: 50px;
        position: absolute;top: 0;left: 0;
        background: center center no-repeat;
      }

      &:after {
        content: '';
        position: absolute;
      }

      &.-novosti:after {.sprite(@ico-bm-novosti);top:6px;left: 14px;}
      &.-atlasy:after {.sprite(@ico-bm-atlasy);top:6px;left: 10px;}
      &.-biblioteki:after {.sprite(@ico-bm-biblioteki);top:6px;left: 8px;}
      &.-quacol:after {.sprite(@ico-bm-quacol);top:6px;left: 0px;}
      &.-pravo:after {.sprite(@ico-bm-pravo);top:6px;left: 1px;}
      &.-servisy:after {.sprite(@ico-bm-servisy);top:10px;left: 0px;}
      &.-obuchenie:after {.sprite(@ico-bm-obuchenie);top:6px;left: 14px;}
      &.-spravochniki:after {.sprite(@ico-bm-spravochniki);top:8px;left: -8px;}
      &.-obzory:after {.sprite(@ico-bm-obzory);top:4px;left: 20px;}
      &.-partnery:after {.sprite(@ico-bm-partnery);top:7px;left: 0px;}
      &.-pacientu:after {.sprite(@ico-bm-pacientu);top:6px;left: 0px;}
      &.-eshe-pacientu:after {.sprite(@ico-bm-eshe-pacientu);top:6px;left: -16px;}

    }

    ul {
      padding: 0;margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0 0 8px 0;
      }

    }
  }



  @media @w768 {

    .footer-menu-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    .swiper-slide {width: auto;}

    .menu-section {padding-right: 20px;}

    #footer-menu-slider-prev {

      display: block;
      background: url("/local/assets/img/touch_arrow_left.png");
      width: 52px;
      height: 51px;
      margin-top: -25px;
      background-size: cover;
      left: -25px;
      z-index: 200;
      opacity: 1;

      &.swiper-button-disabled {
        opacity: 0;
      }

    }

    #footer-menu-slider-next{

      display: block;
      background: url("/local/assets/img/touch_arrow_right.png");
      width: 52px;
      height: 51px;
      margin-top: -25px;
      background-size: cover;
      right: -25px;
      z-index: 200;
      opacity: 1;

      &.swiper-button-disabled {
        opacity: 0;
      }

    }

  }

  @media @w320 {

    padding-top: 0;

    .menu-section {

      padding-bottom: 0;
    }

  }

  @media print {

    display: none;

  }


}

.endoexpert-footer {

  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #020709;
  border-bottom: 2px solid #161717;
  padding: 20px 0;
  color: #b8b7c5;

  a {color: inherit;text-decoration: none; &:hover {text-decoration: underline;}}

  .button-wrapper {

    margin-bottom: 20px;

    .lk-button {height: 40px;line-height: 40px;padding: 0 25px;text-decoration: none;}

  }

  .footer-menu-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-menu-mobile {display: none;}

  .menu-section {

    font-size: 16px;

    white-space: nowrap;

    flex: 0 0 auto;

    width: 230px;

    ul {
      padding: 0;margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0 0 15px 0;
      }


    }


  }

  .footer-copyright {


    text-align: right;

    p {
      margin: 0 0 20px 0;

    }

  }

  .social-links {

    margin-bottom: 20px;

    a {
      display: inline-block;
      background: @main-color;
      width: 39px;height: 39px;
      border-radius: 100%;
      margin-left: 2px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(0.5);
      }
    }

    a.-tw:before {.sprite(@ico-soc-tw);margin-left: -@ico-soc-tw-width/2;margin-top: -@ico-soc-tw-height/2;}
    a.-fb:before {.sprite(@ico-soc-fb);margin-left: -@ico-soc-fb-width/2;margin-top: -@ico-soc-fb-height/2;}
    a.-in:before {.sprite(@ico-soc-in);margin-left: -@ico-soc-in-width/2;margin-top: -@ico-soc-in-height/2;}
    a.-yt:before {.sprite(@ico-soc-yt);margin-left: -@ico-soc-yt-width/2;margin-top: -@ico-soc-yt-height/2;}
    a.-li:before {.sprite(@ico-soc-li);margin-left: -@ico-soc-li-width/2;margin-top: -@ico-soc-li-height/2;}
    a.-gp:before {.sprite(@ico-soc-gp);margin-left: -@ico-soc-gp-width/2;margin-top: -@ico-soc-gp-height/2;}

  }

  @media @w768 {

    .footer-menu-wrapper {

      display: none;
      flex-wrap: wrap;

    }

    .footer-menu-mobile {
      display: block;

      padding-bottom: 30px;

      padding-left: 20px;
      font-size: 15px;

      p {margin: 20px 0;padding-left: 10px;}

      ul {

        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 0 10px 0;
          padding: 0 0 0 10px;
          border-left: 1px solid #fff;
        }


      }

    }

    .footer-copyright {

      width: 100%;
      flex: 0 0 auto;

    }

  }

  @media print {

    display: none;

  }

}

.endoexpert-footer-partners {

  padding: 25px 0 15px 0;
  background: #020709;

  h2 {
    margin: 0 0 25px 0;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
  }

  @media print {

    display: none;

  }


}
