@import "variables";

.endoexpert-header {

  z-index: 999;
  width: 100%;
  margin-bottom: 0;

  &.-fixed {

    position: fixed;
    top: 0;

  }

  a {color: #fff;}

  .header-wrapper {width: 1050px;margin: 0 auto;}

  &:hover, &.-top-visible {

    .header-top {
      max-height: 40px;
    }

  }

  .header-top {
    background: #101011;
    color: #fff;
    max-height: 0;
    line-height: 40px;
    border-bottom: 1px solid #ffc000;
    overflow: hidden;
    transition: max-height 0.50s ease-in-out;
    font-family: Roboto, sans-serif;


    .header-wrapper {display: flex;}

    .left-buttons {
      padding-top: 6px;
      float: left;
      width: 33%;

      a {
        float: left;
        margin-right: 7px;
        background-color: #606162;
        height: 27px;
        line-height: 27px;
        outline: none;
        min-width: 60px;
        border-radius: 5px;
        text-decoration: none;
        padding: 0 11px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 500;

        &:before {
          content: '';
          display: inline-block;
          margin-right: 8px;
          vertical-align: middle;

        }

        &.-share:before {
          .sprite(@ico-share)
        }

        &.-comments:before {

          margin-top: -2px;

          .sprite(@ico-comments)


        }

        &.-notify:before {
          .sprite(@ico-notify)
        }


        &.-add-to-favorite {margin-left:20px; min-width: 30px;padding: 0;text-align: center;}
        &.-add-to-favorite:before {

          margin-right: 0;

          .sprite(@ico-star)

        }


        &.-add-to-learn { min-width: 30px;padding: 0;text-align: center;}
        &.-add-to-learn:before {

          margin-right: 0;
          .sprite(@ico-learn)


        }
      }

    }

    .right-buttons {

      width: 70%;
      float: right;
      font-size: 14px;

      text-align: right;

      .button-wrapper {

        display: inline-block;
        height: 20px;
        vertical-align: middle;
        border-left: 1px solid #fff;
        padding-left: 20px;
        margin-left: 20px;
        line-height: 20px;

        &.-no-border {border-left: none;margin-left: 0;}

        a {
          display: inline-block;

          svg {
            vertical-align: middle;
            margin-right: 5px;
          }

        }

        a.-settings {text-decoration: none;}
        a.-settings:before {

          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;

          .sprite(@ico-settings);

        }

        a.-user {text-decoration: none;}
        a.-user:before {

          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;

          .sprite(@ico-user);

        }

        a.-company {
          text-decoration: none;

          svg {
            margin-top: -4px;
          }
        }



      }

      .button-add-publication {

        display: inline-block;
        text-decoration: none;
        background: #ffc000;
        height: 27px;
        line-height: 27px;
        padding: 0 20px;
        border-radius: 10px;

        &.-red {
          background: red;
        }
      }

    }

  }

  .header-body {

    background: #101011;
    height: 54px;
    box-sizing: border-box;


    //border-bottom: 3px solid #6295d1;

    .header-wrapper {display: flex;justify-content: space-between;height: 100%;position: relative}

    .header-logo {
      width: 55px;
      flex: 0 0 auto;
      position: relative;
      height: 100%;

      .logo-wrapper {
        height:100%;
        background: #fff;
        width: 600px;
        position: absolute;
        top: 0;right: 0;
        text-align: right;
        padding-top: 9px;
        box-sizing: border-box;

        &:before {
          content: '';
          position: absolute;
          top:0;
          right: -32px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 54px 32px 0 32px;
          border-color: #ffffff transparent transparent transparent;
          z-index: 0;
        }

        a {position: relative;z-index: 100;}


      }

    }

    .main-menu {

      flex: 0 0 auto;
      box-sizing: border-box;
      font-size: 15px;
      padding-left: 32px;
      font-family: Roboto, sans-serif;

      >ul {

        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;


        >li {
          display: block;
          flex: 0 0 auto;
          height: 54px;
          position: relative;

          &.-has-submenu:hover:after {

            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f107';
            position: absolute;
            bottom: 0;
            left: 50%;
            font-size: 21px;
            margin-left: -6px;
            color: @gold-color;


          }


          >a {
            display: inline-block;
            height: 54px;
            line-height: 54px;
            padding: 0 6px;

            font-weight: 500;
            text-decoration: none;



          }

          &:hover ul {visibility: visible}

          ul {
            visibility: hidden;

            position: absolute;
            z-index: 900;
            top: 54px;
            background: fade(#000, 70%);
            list-style: none;
            padding: 0 0 5px 0;

            margin: 0;
            font-family: Roboto, sans-serif;
            border: 1px solid #fff;
            border-top: none;
            border-radius: 0 0 5px 5px;

            &.-two-columns {
              -webkit-columns: 2;
              -moz-columns: 2;
              columns: 2;
              column-gap: 0;

              li {

                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
              }

            }

            li {

              white-space: nowrap;
              padding: 7px 25px 7px 40px;
              color: #fff;
              font-weight: 300;
              position: relative;

              &.-border-bottom {
                border-bottom: 1px solid #fff;
              }

              &:before {
                content: '•';
                position: absolute;
                font-size: 27px;
                top: 0px;
                left: 27px;
                color: @gold-color;

              }
              &.-plus:before {
                content: '+';
                font-size: 18px;
                top: 6px;
              }

              &:hover {
                background: @gold-color;

                &:before {color: #fff}

                span {color: #eeeeee}

              }

              span {

                color: #939798;
                font-size: 14px;


                a {
                  font-size: 14px;
                  color: inherit;

                  &:hover {
                    text-decoration: underline;
                  }
                }

              }

              a {

                font-size: 16px;
                font-weight: 300;
                text-decoration: none;




              }

            }


          }

        }

      }

    }

    #btn-mobile-search-toggle {
      display: none;
    }

    #btn-mobile-version {
      display: none;
    }

    .search-block {

      width: 185px;
      flex: 0 0 auto;
      padding-top: 9px;

      form {
        position: relative;

        &:before {
          z-index: 10;
          content: '';
          position: absolute;
          top: 8px;
          left: 5px;
          .sprite(@ico-search)
        }


      }

      input {

        position: absolute;
        top: 0;
        right: 0;
        width: 185px;
        box-sizing: border-box;
        height: 35px;
        line-height: 36px;
        border: none;
        outline: none;
        font-size: 12px;
        padding: 0 40px 0 30px;
        border-radius: 5px;

        transition: width .5s ease-in;

        &.-focused {

          width: 560px;

        }

      }

      button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;

        .sprite(@ico-enter);

      }



    }

  }

  @media @w1024 {

    .header-wrapper {
      width: 990px;
    }

    .header-body {

      .header-logo {
        width: 60px;
      }

    }

  }

  @media @w768 {

    border-bottom: 19px solid #2e2f2f;



    .header-top {

      height: 0;

      .header-wrapper {

        >.right-buttons {
          display: none;
        }

        .left-buttons {padding-bottom: 6px;padding-left: 10px;}

      }

    }

    .header-body {

      height: 45px;

      .header-logo .logo-wrapper {
        padding-top: 4px;

        &:before {
          border-width: 45px 32px 0 32px;
        }

      }

      .header-wrapper {

        width: 748px;
        position: relative;
        justify-content: flex-start;



      }

      #btn-mobile-version {

        box-sizing: border-box;
        display: block;
        position: absolute;
        z-index: 100;
        top: 5px;right: 120px;
        width: 50px;height: 50px;
        border-radius: 100%;
        border:2px solid @gold-color;
        background: #5a5858;

        &:before {
          content: '';
          position: absolute;
          top: 2px;left: 0;
          .sprite(@ico-btn-mobile-version);
        }

      }

      #btn-mobile-search-toggle {

        box-sizing: border-box;
        display: block;
        position: absolute;
        z-index: 100;
        top: 5px;right: 60px;
        width: 50px;height: 50px;
        border-radius: 100%;
        border:2px solid #fff;
        background-color: #5a5858;

        &:before {
          content: '';
          position: absolute;top: 8px;left: 4px;

          .sprite(@ico-search-2);



        }




      }

      .search-block {
        display: none;
        position: absolute;
        top: 45px;
        width: 100%;
        left: 0;
        z-index: 90;
        background: #2e2f2f;
        margin: 0 -200px;
        padding: 22px 200px 7px 200px;

        input {
          width: 100% !important;
          height: 35px;line-height: 35px;position: relative;

          &.-focused {
            width: 100% !important;
          }
        }

        button {
          display: block !important;
        }
      }



    }



    .header-top {

      .left-buttons {
        width: 100%;
      }


    }

    .hc-nav-trigger {

      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 100%;
      box-sizing: border-box;
      padding: 5px;
      background: #5a5858;

      left: auto;
      right: 0;
      top: 5px;

      span {
        background: #fff;
        left: 8px;
        border-radius: 3px;
        &:before, &:after {background: #fff;left: 0px;border-radius: 3px;}
      }



    }

  }


  @media @w320 {

    .header-body {

      .header-wrapper {

        width: 100%;
        padding-right: 60px;
        box-sizing: border-box;
      }

      #btn-mobile-version {right: 130px;}
      #btn-mobile-search-toggle {right: 70px;}

      .search-block {

        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        input {

        }



      }

    }

    .hc-nav-trigger {

      right: 10px;

    }

  }

  @media print {

    display: none;

  }


}



.hc-offcanvas-nav {

  a, .nav-item {
     padding: 9px 17px;
  }


  .nav-wrapper-0 {
    padding-top: 40px;

    .nav-content {

      border-top: 1px solid #606162;

    }

  }

  .right-buttons {

    text-align: center;

    a {
      border: none;
      padding: 0;
      display: inline;


    }



    a.button-add-publication {
      display: inline-block;
      text-decoration: none;
      background: #ffc000;
      height: 27px;
      line-height: 27px;
      padding: 0 20px;
      border-radius: 10px;
      margin: 20px 0;
    }

    .button-wrapper {

      display: block;
      margin-bottom: 10px;

    }

    a.-settings {vertical-align: middle}
    a.-settings:before {

      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;

      .sprite(@ico-settings-2)

    }

    a.-user {vertical-align: middle}
    a.-user:before {

      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;

      .sprite(@ico-user-2)

    }

  }


  .right-buttons-mobile {

    padding: 0 15px;
    margin: 20px 0;
    color: #fff;

    .account-buttons {
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #fff;
        padding: 5px 10px;
        margin: 0 2px;
      }
    }

    .current-user-row {
      box-sizing: border-box;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      padding-right: 35px;

      .user-name {
        font-size: 13px;
        padding: 6px 17px;
        display: inline-block;
        box-sizing: border-box;
      }


      .icon-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 40px;
        border-left: 1px solid #606162;
        line-height: 60px;
        text-align: center;
      }

    }

    .close-burger {

      position: absolute;top: 10px;
      left: -40px;
      width: 30px;
      height: 24px;
      box-sizing: border-box;
      padding-top: 10px;

      span {
        background: #fff;
        display: block;
        height: 4px;
        left: 8px;
        border-radius: 3px;

        &:before, &:after {position:absolute;content:"";background: #fff;left: 0px;border-radius: 3px;height: 4px;width: 100%;}

        &:before {
          top:0;
        }

        &:after {
          bottom:0;
        }
      }



    }

    .ico-settings-3 {opacity: 0.5}

    i {cursor: pointer}

    a {
      border: none;
      padding: 0;
      display: inline;

      &:hover {
        background: inherit;
      }


    }

    a.button-add-publication {
      display: inline-block;
      text-decoration: none;
      background: #ffc000;
      height: 27px;
      line-height: 27px;
      padding: 0 10px;
      border-radius: 10px;

      color: #070707;
    }

    .buttons-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      > div {
        display: flex;
        align-items: center;
      }

      .-divide {
        color: #fff;
      }
    }

  }

}