@import "variables";

.face-block {

  text-align: center;


  .face-img {

    display: block;
    width: 190px;
    height: 190px;
    box-sizing: content-box;
    overflow: hidden;
    border: 4px solid @gold-color;
    border-radius: 100%;
    margin: 0 auto 6px auto;
    position: relative;

  }

  .face-name {

    font-size: 16px;
    color: #fff;
    text-decoration: none;

  }

  &.-red {

    .face-img {
      border-color: #bf2e3f;
    }

    .face-name {
      color: #bf2e3f;
    }

  }

  &.-blue {

    .face-img {
      border-color: #4894d0;
    }

    .face-name {
      color: #4894d0;
    }

  }


  &.-gold {

    .face-img {
      border-color: @gold-color;
    }
  }

  &.-white {

    .face-img {
      border-color: #fff;
    }
  }

  &.-grey {

    .face-img {
      border-color: #595856;
    }
  }

  .ee-button-6 {
    margin-top: 15px;
  }


  @media @w320 {


    .face-img {

      width: 144px;
      height: 144px;

      img {width: 100%;height: auto;}

    }

    .face-name {
      font-size: 14px;
    }

  }



}


.face-block-v2 {


  min-height: 190px;
  position: relative;
  padding-left: 230px;



  .face-img {


    position: absolute;top: 0;left: 0;

    display: block;
    width: 190px;
    height: 190px;
    box-sizing: content-box;
    overflow: hidden;
    border: 4px solid @gold-color;
    border-radius: 100%;
    margin: 0 auto 6px auto;

  }

  .face-description {
    padding-top: 20px;
  }

  .face-name {

    color: #828282;
    font-weight: 500;

  }


}