@import "variables";

#fixed-block {

  position: fixed;
  z-index: 200;
  right: 2px;

  top: 11%;


  .fixed-btn {



    background: #465dab;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 7px;
    border-radius: 5px;
    text-align: center;
    box-sizing: content-box;
    width: 29px;
    margin-bottom: 5px;


    .rotation-wrapper-outer {
      display: table;
    }
    .rotation-wrapper-inner {
      padding: 50% 0;
      height: 0;
    }

      span {
        display: block;
        transform-origin: top left;
        transform: rotate(-90deg) translate(-100%);
        margin-top: -50%;
        white-space: nowrap;

    }

    &.-orange {

      background: #f3b500;
      color: #2e2f2f;



    }


  }

  .fixed-btn-2 {

    display: block;
    box-sizing: border-box;
    cursor: pointer;
    background: #5a5858 5px 3px no-repeat;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 46px;
    height: 38px;
    margin-bottom: 2px;

    &.-reg {
      &:before {
        content: '';position: absolute;top: 4px;left: 6px;
        .sprite(@ico-fixed-btn-reg);
      }
    }
    &.-bug {
      &:before {
        content: '';position: absolute;top: 4px;left: 6px;
        .sprite(@ico-fixed-btn-bug);
      }
    }
    &.-search {
      &:before {
        content: '';position: absolute;top: 7px;left: 6px;
        .sprite(@ico-fixed-btn-search);
      }
    }
    &.-views {
      &:before {
        content: '';position: absolute;top: 10px;left: 6px;
        .sprite(@ico-eye);
      }

      +.fixed-swipe-block {width: 800px;padding-bottom: 30px}
    }
    &.-message {
      &:before {
        content: '';position: absolute;top: 9px;left: 7px;
        .sprite(@ico-fixed-btn-message);
      }
    }
    &.-qr {
      &:before {
        content: '';position: absolute;top: 6px;left: 10px;
        .sprite(@ico-fixed-btn-qr);
      }

      +.fixed-swipe-block p {
        color: #fff;
      }

    }
    &.-random {
      &:before {
        content: '';position: absolute;top: 4px;left: 4px;
        .sprite(@ico-random);

      }

      +.fixed-swipe-block {width: 800px}
    }
    &.-tools {
      &:before {
        content: '';position: absolute;top: 8px;left: 4px;
        .sprite(@ico-fixed-btn-tools);
      }
    }

    &.-up {

      border-radius: 100%;
      height: 46px;

      &:before {
        content: '';position: absolute;top: 19px;left: 13px;
        .sprite(@ico-fixed-btn-up);
      }
    }
    &.-down {

      height: 46px;
      margin-top:15px;border-radius: 100%;

      &:before {
        content: '';position: absolute;top: 19px;left: 13px;
        .sprite(@ico-fixed-btn-down);
      }

    }




  }

  .fixed-btn-2-wrapper {
    position: relative;
    left: 0;
    transition: left 0.5s ease;

    &.-active {
      left: -377px;

      &.-random {
        left: -826px;
      }

      &.-views {
        left: -826px;
      }

    }




  }

  .fixed-swipe-block {

    position: absolute;
    top: 0;
    left: 48px;
    width: 350px;
    border: 1px solid #5a5858;
    border-radius: 5px;
    padding: 15px 10px;
    background: #101011;
    min-height: 100px;
    z-index: 100;
    color: #878787;


    h2 {font-size: 24px;text-align: center;font-weight: 300;color: #fff;margin: 0 0 25px 0;}

    a {color: @main-color}

  }

  .ee-select-user-status {

    .ee-checkbox-3 {
      font-size: 12px;
      color: #fff;

      span {
        text-decoration: none;

        &:before {background: #fff;}
      }

    }

    p:last-child {
      color: #fff;
      a {color: @gold-color;}
    }


  }

  .ee-select-user-status-pics {

    .status-item {
      width: 111px;

      .item-pic {

        height: 80px;
        background-size: 50%;

      }

      .item-label {
        height: 31px;
        font-size: 12px;
        line-height: 1.1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }

  }




  .slider-wrapper-type-2 {


    margin: 0 auto;
    width: 730px;

    a {color: #fff}

    .swiper-slide {
      width: 230px;
    }

    .ee-publication-teaser-v2 {
      border: none;
      border-radius: 0;
      width: 230px;


    }


  }

  .random-block {

    .ee-button-7 {
      border: none;
      font-size: 14px;
    }


    .welcome-part {
      text-align: center;
    }

    .main-part {

      h2 {
        text-align: left;
      }

      .top-buttons {
        position: absolute;
        top:10px;
        right: 10px;

        .ee-button-7 {
          height: 32px;
          line-height: 32px;
          padding: 0 10px;
        }
      }



    }

    .ajax-wrapper {

      height: 400px;



    }


  }




  @media @w320 {
    display: none;
  }

}


#scroll-pagination {

  width: 46px;
  margin-bottom: 10px;
  margin-top: 10px;

  a {
    display: block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 0 auto 9px auto;
    border-radius: 100%;
    background: #000;

    &.-active {

      background: #f3b500;
      border-color: #f3b500;

    }

  }


}

.ee-fixed-block-form {

  font-size: 14px;
  color: #fff;


  .form-header {
    margin-bottom: 10px;

  }

  .form-text {
    width: 100%;
    box-sizing: border-box;
    border: none;outline: none;
    background: #cccccd;
    border-radius: 5px;
    height: 19px;
    line-height: 19px;
    padding: 0 10px;
    font-size: 12px;
  }

  .form-textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;outline: none;
    background: #cccccd;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    resize: none;
    min-height: 80px;
  }

  .form-item {
    margin-bottom: 10px;
    position: relative;
    padding: 0 0 0 90px;

    sup {color: #f33104;font-size: 100%;top:-3px;}

    label {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &.-checkbox {
      padding-left: 0;

      label {
        position: relative;
      }

      .ee-checkbox-5 {

        padding-left: 35px;

        sup {
          position: absolute;
          top: 3px;left: 23px;
        }

        font-size: 12px;
        span {
          padding-top: 2px;
        }

      }
    }

    &.-textarea {

      padding-left: 0;

      label {
        position: relative;
        display: block;
        margin-bottom: 3px;
      }

    }

    &.-attach {

      padding-left: 0;

      .ee-attach-field {
        margin: -5px 0 25px 0;
      }

    }

  }

  .grey-wrapper {

    border: 1px solid #fff;
    padding: 5px;
    background: #5a5858;
    border-radius: 5px;
    margin-bottom: 15px;

    .form-item:last-child {margin-bottom: 0}

  }

  .form-description {
    color: #c2bebe;
    font-size: 12px;
    margin: 10px 0;
  }

  .form-actions {
    position: relative;

    .ee-button-11 {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }



}

.ee-fixed-block-tools {

  color: #fff;
  font-size: 14px;

  .block-buttons {

    text-align: center;

    .ee-button-7 {

      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 10px;

    }

  }

}

.ee-fixed-block-search {

  .form-text {
    border: 1px solid #fff;
    background: #a7a7a8;
    height: 25px;
    line-height: 25px;
    color: #fff;
    width: 100%;
    border-radius: 5px;
  }

  table {

    td {
      padding: 0 0 15px 20px;
    }

  }

  .form-item {
    margin-bottom: 15px;
  }

  .form-description {

    font-size: 14px;
    color: #a7a7a8;
    margin-bottom: 30px;
  }

  .form-actions {

    text-align: center;

    .ee-button-7 {
      border: none;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }



}

.ee-attach-field {

  font-size: 12px;

  input {display: none}

  .control-delete {display: none;color: red;cursor: pointer}

  i {vertical-align: middle;margin-right: 15px;margin-top: -3px}

  span {
    vertical-align: middle;
    display: inline-block;
  }

  .field-title {
    color: @link-color;
    text-decoration: underline;
    cursor: pointer;
  }

  .field-file {
    display: none;
    max-width: 60%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #c2bebe;
    margin-right: 10px;
  }


}