@import "variables";

#fixed-block {

  position: fixed;
  z-index: 200;
  right: 0;

  top: 30%;

  .fixed-btn {



    background: #465dab;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 7px;
    border-radius: 5px;
    text-align: center;
    box-sizing: content-box;
    width: 29px;
    margin-bottom: 5px;


    .rotation-wrapper-outer {
      display: table;
    }
    .rotation-wrapper-inner {
      padding: 50% 0;
      height: 0;
    }

      span {
        display: block;
        transform-origin: top left;
        transform: rotate(-90deg) translate(-100%);
        margin-top: -50%;
        white-space: nowrap;

    }

    &.-orange {

      background: #f3b500;
      color: #2e2f2f;



    }


  }




}


#scroll-pagination {

  width: 43px;
  margin-bottom: 20px;

  a {
    display: block;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 0 auto 9px auto;
    border-radius: 100%;
    background: #000;

    &.-active {

      background: #f3b500;
      border-color: #f3b500;

    }

  }


}