@import "variables";

#fixed-block {

  position: fixed;
  z-index: 200;
  right: 0;

  top: 30%;

  .fixed-btn {



    background: #465dab;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;

    width: 43px;
    box-sizing: border-box;

    span {
      display: block;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);

    }

    &.-orange {

      background: #f3b500;
      color: #2e2f2f;



    }


  }

}