@import "variables";

.footer-fixed-block-mobile {

  display: none;

  box-shadow: 0 0 38px rgba(255, 255, 255, 0.35);

  box-sizing: border-box;
  background: #010204;
  height: 44px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 900;

  .buttons-wrapper {

    position: absolute;
    bottom: 7px;
    width: 100%;

  }

  .block-button {

    display: inline-block;
    box-sizing: border-box;
    height: 43px;
    width: 43px;
    margin: 0 4px;
    background: #5a5858 center center no-repeat;
    border: 2px solid #fff;
    border-radius: 100%;
    vertical-align: bottom;
    position: relative;

    span {
      color: #fff;
      font-size: 13px;
      background: #fc0707;
      position: absolute;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-radius: 100%;
      font-family: Roboto, sans-serif;
      font-weight: normal;
      left: 5px;
      top: 5px;


    }


    &.-rotate {

      &:before {
        content: '';
        position: absolute;
        top: 6px;left: 6px;
        .sprite(@ico-rotate)
      }
    }

    &.-notify {
      &:before {
        content: '';
        position: absolute;
        top: 20px;left: 20px;
        .sprite(@ico-notify-small)
      }
    }

    &.-plus {

      border-color: @gold-color;
      width: 49px;
      height: 49px;
      &:before {
        content: '';
        position: absolute;
        top: 12px;left: 12px;
        .sprite(@ico-plus)
      }
    }

    &.-home {
      &:before {
        content: '';
        position: absolute;
        top: 9px;left: 9px;
        .sprite(@ico-home)
      }
    }

    &.-settings {
      &:before {
        content: '';
        position: absolute;
        top: 11px;left: 11px;
        .sprite(@ico-settings-3)
      }
    }




  }





  @media @w768 {display: block;}


}