i.ico-share {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_share.png");
  width: 15px;
  height: 17px;

}

i.ico-notification {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_notification.png");
  width: 14px;
  height: 15px;

}

i.ico-favorite {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_favorite.png");
  width: 18px;
  height: 17px;

  &.-active {background-position: 0 -17px}

}

i.ico-learn {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_learn.png");
  width: 16px;
  height: 22px;

  &.-active {background-position: 0 -22px}

}


i.ico-timer {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_timer.png");
  width: 18px;
  height: 18px;

}

i.ico-print {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_print.png");
  width: 26px;
  height: 23px;

}

i.ico-download {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_download.png");
  width: 23px;
  height: 21px;

}

i.ico-comments {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_comments.png");
  width: 21px;
  height: 15px;

}


i.ico-link {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_link.png");
  width: 18px;
  height: 18px;

}

i.ico-attach {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_attach.png");
  width: 20px;
  height: 23px;

}


i.ico-stats {

  display: inline-block;
  box-sizing: border-box;
  background: url("/local/assets/img/icons/ico_stat.png") 6px 6px no-repeat;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #fff;
}

i.ico-pay {

  display: inline-block;
  box-sizing: border-box;
  background: url("/local/assets/img/icons/ico_pay.png") 6px 6px no-repeat;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #fff;
}

i.ico-play {

  display: inline-block;
  box-sizing: border-box;
  background: url("/local/assets/img/icons/ico_play_red.png") 14px 9px no-repeat;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #c41c05;
}

i.ico-favorite2 {

  display: inline-block;
  box-sizing: border-box;
  background: url("/local/assets/img/icons/ico_star_gold.png") -1px -1px no-repeat;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;

  &.-active {
    background-position: -1px -44px;
  }
}