i.ico-share {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_share.png");
  width: 15px;
  height: 17px;

}

i.ico-notification {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_notification.png");
  width: 14px;
  height: 15px;

}

i.ico-favorite {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_favorite.png");
  width: 18px;
  height: 17px;

  &.-active {background-position: 0 -17px}

}

i.ico-learn {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_learn.png");
  width: 16px;
  height: 22px;

  &.-active {background-position: 0 -22px}

}


i.ico-timer {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_timer.png");
  width: 18px;
  height: 18px;

}

i.ico-print {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_print.png");
  width: 26px;
  height: 23px;

}

i.ico-download {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_download.png");
  width: 23px;
  height: 21px;

}

i.ico-comments {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_comments.png");
  width: 21px;
  height: 15px;

}


i.ico-link {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_link.png");
  width: 18px;
  height: 18px;

}

i.ico-attach {

  display: inline-block;
  background-image: url("/local/assets/img/icons/ico_attach.png");
  width: 20px;
  height: 23px;

}