@import "variables";

i.ico-share {

  display: inline-block;
  .sprite(@ico-share2);

}

i.ico-notification {

  display: inline-block;
  .sprite(@ico-notification);

}

i.ico-favorite {

  display: inline-block;
  .sprite(@ico-star);

  &.-active {.sprite(@ico-star-gold);}

}

i.ico-learn {

  display: inline-block;
  .sprite(@ico-learn-white);

  &.-active {.sprite(@ico-learn-gold);}

}


i.ico-timer {

  display: inline-block;
  .sprite(@ico-timer);

}

i.ico-print {

  display: inline-block;
  .sprite(@ico-print);

}

i.ico-download {

  display: inline-block;
  .sprite(@ico-download);

}

i.ico-comments {

  display: inline-block;
  .sprite(@ico-comments);

}


i.ico-link {

  display: inline-block;
  .sprite(@ico-link);

}

i.ico-cite {

  display: inline-block;
  .sprite(@ico-cite);

}

i.ico-attach {

  display: inline-block;
  .sprite(@ico-attach);

}


i.ico-stats {

  display: inline-block;
  box-sizing: border-box;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #fff;
  position: relative;

  &:before {
    content: "";
    position: absolute;top: 6px;left: 6px;
    .sprite(@ico-stat)
  }

}

i.ico-pay {

  display: inline-block;
  box-sizing: border-box;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #fff;
  position: relative;

  &:before {
    content: "";
    position: absolute;top: 6px;left: 6px;
    .sprite(@ico-pay)
  }
}

i.ico-play {

  display: inline-block;
  box-sizing: border-box;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #c41c05;
  position: relative;

  &:before {
    content: "";
    position: absolute;top: 9px;left: 14px;
    .sprite(@ico-play-red)
  }
}

i.ico-favorite2 {

  display: inline-block;
  box-sizing: border-box;
  background: url("/local/assets/img/icons/ico_star_gold.png") -1px -1px no-repeat;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    position: absolute;top: 12px;left: 12px;
    .sprite(@ico-star-grey);

  }


  &.-active:before {
    .sprite(@ico-star-gold);
  }
}

.ico-swipe-right {
  display: inline-block;

  .sprite(@ico-swipe-right);

}

.ico-swipe-left {
  display: inline-block;

  .sprite(@ico-swipe-left);

}

.ico-play2-red {

  display: inline-block;
  width: 67px;
  height: 67px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid #c41c05;
  background: #040505;
  position: relative;

  &:before {
    content: '';
    display: block;
    .sprite(@ico-play2-red);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -9px;
  }

}

.ico-play2-red-small {

  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid #c41c05;
  background: #040505;
  position: relative;

  &:before {
    content: '';
    display: block;
    .sprite(@ico-play-red-small);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -4px;
  }

}

.ico-play2-grey {

  display: inline-block;
  width: 67px;
  height: 67px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid #5a5858;
  background: #040505;
  position: relative;

  &:before {
    content: '';
    display: block;
    .sprite(@ico-play2-grey);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -9px;
  }

}

.ico-mobile {

  display: inline-block;
  width: 67px;
  height: 67px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 3px solid @gold-color;
  background: #040505;
  position: relative;

  &:before {
    content: '';
    display: block;
    .sprite(@ico-mobile);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -23px;
  }

}

.ico-nom-gold, .ico-nom-silver, .ico-nom-bronze, .ico-nom-red{

  display: inline-block;
  text-align: center;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1px;
  user-select: none;

  b {
    font-weight: normal !important;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;;
  }

  .sprite(@ico-nom-gold);

}

.ico-nom-silver {.sprite(@ico-nom-silver);}
.ico-nom-bronze {.sprite(@ico-nom-bronze);}
.ico-nom-red {.sprite(@ico-nom-red);}


.ico-thumb-up-black {

  display: inline-block;
  margin-bottom: -1px;

  .sprite(@ico-thumb-up-black);

}

.ico-study-black {

  display: inline-block;
  margin-right: -2px;
  margin-bottom: -2px;

  .sprite(@ico-study-black);

}

.ico-settings-3 {
  display: inline-block;

  .sprite(@ico-settings-3);

}

.ico-file-ppt {
   display: inline-block;
   .sprite(@ico-file-ppt)
}

.ico-file-xls {
  display: inline-block;
  .sprite(@ico-file-xls)
}

.ico-file-pdf {
  display: inline-block;
  .sprite(@ico-file-pdf)
}

.ico-file-doc {
  display: inline-block;
  .sprite(@ico-file-doc)
}

.ico-file-jpg {
  display: inline-block;
  .sprite(@ico-file-jpg)
}