@import "variables";

#invite-friends-popup {

  width: 735px;
  box-sizing: border-box;

}


#invite-friends-app {

  user-select: none;

  .sort-panel {

    margin-bottom: 15px;
    font-size: 14px;

    span {display: inline-block;margin-right: 10px;}

    .panel-label {color: @quacol-main-color}

    .sort-item {
      color: #7e7e7e;
      text-decoration: underline;
      cursor: pointer;

      &.-active {color: @main-color}
    }

    .filter-item {
      color: #101011;
      margin-right: 0;

      &.-first {margin-right: 10px;}

      .icheckbox_quacol {margin-right: 5px;}
    }


  }

  .search-panel {

    margin-bottom: 20px;
    display: flex;

    .search-text {
      width: 275px;
      flex: 0 0 auto;

      input {
        width: 250px;
        font-family: inherit;
        outline: none;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        height: 32px;
        line-height: 32px;
        box-sizing: border-box;
        padding:0 14px;
        font-size: 12px;

      }

    }

    .search-alphabet {

      font-size: 14px;
      height: 32px;
      line-height: 32px;
      user-select: none;
      white-space: nowrap;

      span {color: @main-color;text-decoration: underline;cursor: pointer;display: inline-block;margin-right: 4px;}
      span.-active {font-weight: bold;text-decoration: none;color: #000;}

    }


  }

  .friends-list {

    display: flex;
    flex-wrap: wrap;
    min-height: 388px;

    .list-item {
      width: 119px;
      margin-right: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;

      &.-selected {

        .user-pic {

          border: 3px solid @main-color;

          img {top:-3px;left: -3px;}

          &:after {
            content: '';
            position: absolute;
            top: -17px;
            right: -15px;
            .sprite(@ico-invite-selected);
          }

        }

      }

      &:nth-child(5n) {margin-right: 0;}



      .item-title {

        span {text-decoration: underline;cursor: pointer;}

      }

      .item-speciality {

        span {color:@quacol-main-color;text-decoration: underline;cursor: pointer;}

      }

      &:hover {

        .user-pic {

          > img {filter: grayscale(100%)}

          .stat-line {display: block;}
          .letter-labels {display: block;}
          .item-links {display: block;}
          .item-rank {display: block;}
        }

      }

    }



  }

  .lk-button {
    height: 41px;
    line-height: 37px;
    padding: 0 30px;


  }


}