@import "variables";

#__lpform_album-name {display: none !important;}

.lk-create-photo-album {

  color: @quacol-main-color;
  font-size: 16px;

  #album-name {
    background-image: none !important;
    padding-right: 50px;

    &-char-counter {

      position: absolute;
      top: 45px;left: 553px;
      font-size: 14px;
      font-weight: 500;
      color: #b4b4b4;
      user-select: none;

    }

  }





  .form-item {

    margin-bottom: 15px;
    position: relative;

    label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;

    }

    &.-select-link {

      label {display: inline-block;}

    }

    &.-image-upload {

      label {margin-bottom: 20px;}

    }

  }

  .form-text {
    outline: none;
    width: 590px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;

    &.-date {
      width: 265px;
    }
  }

  .form-textarea {
    outline: none;
    width: 590px;
    resize: vertical;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    min-height: 140px;
    padding: 10px 20px;


  }

  .checkboxes-block {

    margin: 25px 0 50px 0;
    display: flex;

    .col-1 {margin-right: 20px;}

    .form-file {display: none;}

    label {
      display: block;
      margin-bottom: 15px;
      font-size: 16px;
      white-space: nowrap;
    }

    .checkbox-wrapper {

      label { display: inline-block;}
    }

    button {
      outline: none;
      color: #fff;
      background: #c7c7c7;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-family: inherit;
      min-width: 80px;
      text-align: center;
      height: 37px;
      line-height: 37px;
      margin-left: 10px;
      cursor: pointer;


    }
  }

  #watermark-preview-wrapper {

    display: none;
    //height: 150px;
    background: #eeeeee;
    margin-top: 10px;
    text-align: center;
    padding: 20px;

    img {
      //height: 100%;
      max-width: 400px;}


  }

  .radios-block {

    margin-bottom: 40px;

    .block-label {
      font-weight: bold;
      margin-bottom: 20px;
    }

    label {margin-right: 30px;display: inline-block;}

  }


  .select-link {

    position: relative;
    display: inline-block;

    a {
      cursor: pointer;
      color: @main-color;
      text-decoration: underline;
      font-weight: bold;
    }

    &-options {
      display: none;
      z-index: 100;
      position: absolute;
      top: 0;left: 0;
      background: #fff;
      border: 1px solid @main-color;
      border-radius: 5px;
      padding: 10px;

      div {
        margin-bottom: 5px;
        color: @main-color;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;

        &:hover {text-decoration: underline;}
      }

    }

  }

  .upload-images {

    .form-file {display: none;}

    .image-item {

      margin: 0 10px 10px 0;
      display: block;
      background: #dddddd;
      border-radius: 10px;
      width: 146px;height: 146px;
      text-align: center;
      position: relative;

      input[type=text] {
        position: absolute;
        top: 57px;
        left: 160px;
        outline: none;
        width: 590px;
        box-sizing: border-box;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        font-size: 13px;
      }

      &:before {
        content: '';
        display: inline-block;
        height: 146px;
        width: 0;
        overflow: hidden;
        vertical-align: middle;
      }

      &.upload-button {
        cursor: pointer;
      }

      img {max-width: 100%;max-height:100%;height: auto;vertical-align: middle;}


    }

  }

  .tags-helper {

    margin-top: 15px;
    margin-bottom: 40px;

  }

  .form-actions {

    margin-top: 50px;

    button {

      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      height: 43px;line-height: 43px;
      font-family: inherit;
      font-size: 18px;
      font-weight: bold;
      padding: 0 30px;
      color: #fff;
      background: #c7c7c7;
      margin-right: 15px;

      &.-orange {
        background: #e5aa12;
      }


    }

    a {font-size: 16px;color: inherit;display: inline-block;margin-left: 10px;}

  }




}

#select-watermark-popup {

  .watermark-select-list {

    height: 320px;
    overflow-y: scroll;
    margin-bottom: 30px;

    .list-item {
      width: 150px;
      height: 150px;
      background: #eeeeee;
      margin: 0 20px 20px 0;
      float: left;
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;

      &.-selected {
        border: 2px solid @quacol-main-color;
      }

      &:before {
        content: '';
        width: 0;
        overflow: hidden;
        display: inline-block;
        height: 150px;
        vertical-align: middle;
      }



      img {
        max-width: 80%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }

  }


}