@import "variables";

.lk-news-module {

  box-shadow: 0 2px 7.1px 1.9px rgba(13, 40, 93, 0.17);
  margin-bottom: 10px;

  &-header {

    display: flex;
    height: 37px;

    .module-title {

      line-height: 37px;
      width: 264px;
      font-size: 21px;
      font-weight: 500;
      text-align: center;
      color: #fff;

      a {color: #fff;text-decoration: none;}



    }

    .module-header-right {flex-grow: 1;display: flex;}

    .add-to-buttons {
      flex-grow: 2;
      text-align: right;
      padding-right: 15px;
      line-height: 39px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;

      .add-to-favorite, .add-to-learn {

        &:hover {

          .button-hint {display: block;}

        }

      }

      .add-to-favorite {

        position: relative;

        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin: -3px 3px 0 3px;

        .sprite(@ico-star);

        &.active, &:hover {

          .sprite(@ico-star-gold);

        }

      }

      .add-to-learn {
        position: relative;

        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin: -5px 3px 0 3px;

        .sprite(@ico-learn-white);

        &.active, &:hover {

          .sprite(@ico-learn-gold);

        }

        .button-hint {bottom: -42px;}

      }

      .button-hint {
        display: none;
        position: absolute;
        right: -5px;
        bottom: -45px;
        font-size: 12px;
        line-height: 12px;
        color: @quacol-main-color;
        white-space: nowrap;
        background: #fff;
        padding: 5px 10px;
        border: 1px solid @quacol-main-color;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);

        &:after, &:before {
          bottom: 100%;
          left: 90%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: #fff;
          border-width: 0 2px 5px 2px;
          margin-left: -6px;
        }
        &:before {
          border-color: rgba(194, 225, 245, 0);
          border-bottom-color: @quacol-main-color;
          border-width: 0 3px 7px 3px;
          margin-left: -7px;
        }
      }

    }

    .video-countdown {
      flex-grow: 2;
      text-align: right;
      padding-right: 15px;
      line-height: 39px;
      font-size: 14px;
      font-weight: 500;
      color: @quacol-main-color;

      span {
        display: inline-block;
        margin-right: 17px;
      }

      b {
        display: inline-block;
        height: 22px;line-height: 24px;
        width: 17px;
        text-align: center;
        color: #fff;
        background: @quacol-main-color;
        border-radius: 5px;
        margin: 0 3px 0 0;
      }

    }

    .online-bage {
      flex-grow: 2;
      font-size: 14px;
      padding-top: 5px;
      padding-left: 30px;

      span {
        display: inline-block;
        color: #fff;
        background: #e31e23;
        height: 27px;
        line-height: 27px;
        padding: 0 10px;
        border-radius: 10px;
        text-transform: uppercase;
        }
    }

    .header-letter {

      flex: 1 1 auto;
      text-align: right;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      line-height: 37px;
      padding-right: 15px;

    }









  }

  &-body {

    display: flex;
    height: 241px;
    overflow: hidden;

    .module-img {
      width: 264px;
      flex: 0 0 auto;

      position: relative;

      &:after {
        content: ' ';
        position: absolute;
        top: 0;left: 0;bottom: 0;right: 0;
        pointer-events: none;
        //background: red;
      }

      //img {filter: grayscale(100%)}

    }



    .module-description {

      flex-grow: 1;
      padding: 25px 20px 0 30px;
      color: @quacol-main-color;

      .description-date {font-size: 16px;margin-bottom: 10px;}

      .description-text {font-size: 17px;line-height: 24px;}


      &-footer {

        display: flex;

        .module-points {

          flex-grow: 1;
          display: flex;

          .point-item {

            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;


            span {font-weight: bold;display: inline-block;margin-right: 5px;vertical-align: middle;}

            b {display: inline-block;width: 32px;height: 32px;line-height: 32px;background: @quacol-main-color;border-radius: 100%;color: #fff;text-align: center;font-size: 15px;vertical-align: middle;}


            &.-nmo {
              margin-left: 20px;

              span {font-size: 20px;}

            }


          }

        }

        .module-link {
          width: 130px;
          text-align: right;

          a {
            display: inline-block;
            width: 108px;
            height: 31px;
            border: 2px solid @quacol-main-color;
            border-radius: 6px;
            line-height: 31px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            text-decoration: none;
            color: @quacol-main-color;
          }

        }

      }

    }

    .lecture-description {

      b {font-weight: 900;}
      p {margin: 0;}

      height: 166px;
      overflow: hidden;

      .lecture-name {font-size: 18px;line-height: 22px;margin-bottom: 20px;}

      .lecture-teaser { font-size: 16px;}

    }

  }

  &.-color-1 {

    .module-title {background: @edu-module-color-1;}
    .module-header-right {background: lighten(@edu-module-color-1, 35%)}
    .module-img:after {background: fade(@edu-module-color-1, 30%)}
    .lk-comments-views-rating {background: fade(@edu-module-color-1, 80%)}

  }

  &.-color-2 {

    .module-title {background: @edu-module-color-2;}
    .module-header-right {background: lighten(@edu-module-color-2, 35%)}
    .module-img:after {background: fade(@edu-module-color-2, 30%)}
    .lk-comments-views-rating {background: fade(@edu-module-color-2, 80%)}

  }

  &.-color-3 {

    .module-title {background: @edu-module-color-3;}
    .module-header-right {background: lighten(@edu-module-color-3, 40%)}
    .module-img:after {background: fade(@edu-module-color-3, 30%)}
    .lk-comments-views-rating {background: fade(@edu-module-color-3, 80%)}

  }

  &.-video {

    .module-img {
      width: 332px;
      padding: 10px 0 10px 10px;
      box-sizing: border-box;

      img {max-width: 100%;height: auto;display: block;}

      &:after {display: none;}

    }

    .module-description {padding-top: 10px;}

    .module-description-footer {justify-content: flex-end;}

    .edu-module-body {height: auto;}




  }

  &.-no-margin {
    margin-bottom: 0;
  }

  &.-no-shadow {
    box-shadow: none;
  }



}