@import "variables";

.photo-album-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .album-item {

    width: 300px;
    margin-bottom: 40px;

    .item-image {

      box-shadow: 0 3px 5.4px 0.6px rgba(13, 40, 93, 0.1);
      margin-bottom: 15px;

      a {
        display: block;position: relative;
        &:after {
          content: ' ';
          position: absolute;
          top:0;left: 0;right: 0;bottom: 0;
          background: @edu-module-color-3;
          opacity: .5;
          transition: opacity .5s ease-in-out;
        }

        &:hover:after {
          opacity: 0;
        }

      }

      img {display: block;}



    }

    .item-date {

      color: @quacol-main-color;
      font-size: 14px;
      margin-bottom: 10px;

    }

    .item-title {

      font-size: 18px;
      font-weight: bold;

      a {
        color: @quacol-main-color;
        text-decoration: none;

        &:hover {text-decoration: underline;}
      }

    }

  }


}

.photo-album {

  position: relative;

  h1 {

    font-size: 24px;
    font-weight: bold;
    color: @quacol-main-color;
    margin: 0 0 15px 0;
    padding-right: 150px;

  }

  .album-edit-link {
    position: absolute;top: 5px;right: 0;
    font-size: 14px;
    a {color: #3498db;}
  }

  .album-date {

    font-size: 14px;
    color: @quacol-main-color;
    margin-bottom: 35px;
  }

  .album-text {

    font-size: 16px;line-height: 24px;
    color: @quacol-main-color;
    margin-bottom: 30px;

  }

  .album-top-items {

    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    .cloud-link {
      font-size: 14px;
      height: 36px;
      line-height: 36px;
      a {color: #3498db;}
    }

    .invite-form {


      label {
        display: inline-block;
        font-size: 14px;
        color: @quacol-main-color;
        margin-right: 15px;
        vertical-align: middle;
      }

      input {

        width: 190px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        outline: none;
        padding: 0 20px;
        font-size: 14px;
        margin-right: 10px;
        vertical-align: middle;
        box-sizing: border-box;

      }

      button {
        cursor: pointer;
        vertical-align: middle;
        border: none;
        outline: none;
        border-radius: 5px;
        width: 36px;
        height: 36px;
        background: #e5aa12;
        position: relative;

        &:before {
          content: "";
          position: absolute;top: 11px;left: 11px;
          .sprite(@ico-ok);
        }
      }

    }

    .share-block {
      padding-top: 6px;
    }

  }

  .photo-list {

    .photo-item {

      width: 300px;
      margin-bottom: 40px;

      .item-image {

        box-shadow: 0 3px 5.4px 0.6px rgba(13, 40, 93, 0.1);
        margin-bottom: 15px;

        a {
          display: block;position: relative;
          &:after {
            content: ' ';
            position: absolute;
            top:0;left: 0;right: 0;bottom: 0;
            background: @edu-module-color-3;
            opacity: .5;
            transition: opacity .5s ease-in-out;
          }

          &:hover:after {
            opacity: 0;
          }

        }

        img {display: block;}



      }

      .item-text {

        color: @quacol-main-color;
        font-size: 14px;
        line-height: 20px;

      }


    }

  }

}


#photo-carousel-slider {

  margin-bottom: 60px;


  .swiper-slide {

    position: relative;
    width: 488px;
    height: 325px;
    opacity: .5;

    .slide-title {

      position: absolute;
      top: 10px;
      width:100%;
      background: fade(@quacol-main-color, 80%);
      color: #fff;
      text-align: center;
      padding: 20px 0;
      font-size: 24px;
      font-weight: bold;

    }

    .more-link {

      position: absolute;
      bottom: 25px;
      left: 50%;
      margin-left: -55px;

      width: 110px;
      height: 43px;
      line-height: 43px;
      background: #f3b500;
      color: #fff;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      border-radius: 10px;
      display: block;

    }

    &-active {
      opacity: 1;
    }

  }

}

#photo-carousel-slider-small-wrapper {

  position: relative;

  .swiper-slide {cursor: pointer;}

  .swiper-button-prev {

    background-size: initial;
    margin-top: -18px;
    left: -50px;
    .sprite(@ico-arrow2-left);
  }

  .swiper-button-next {

    background-size: initial;
    margin-top: -18px;
    right: -50px;
    .sprite(@ico-arrow2-right);
  }

}

.pswp__caption {padding-bottom: 95px;}
.pswp__thumbnails {position: fixed;bottom: 10px;width: 100%;text-align: center;z-index: 1000000;}
.pswp__caption__center {font-size: 16px;text-align: center;}
#pswp-thumbnails {

  .swiper-slide {width: 100px;}

  .swiper-slide-active .slide-img {border: 1px solid #fff;}

  .slide-img {
    width: 100px;
    height: 75px;
    background-size: contain;
    box-sizing: border-box;
    border: 1px solid #000;
    cursor: pointer;
  }

}

#pswp-rating-form {
  position: fixed;top: 0;text-align: center;z-index: 1000;box-sizing: border-box;
  width: 115px;
  left: 50%;margin-left: -58px;


  .br-wrapper {display: inline-block;}
}

#photo-vote-popup {
  width: 320px;
}