@import "variables";

.slider-wrapper-type-1 {

  position: relative;

  .swiper-button-prev {
    width: 8px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAMAAACHxYxZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEX/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD///9+g+RIAAAAEXRSTlMAA9vGTlfA5wYqe5n2FTBa5BlpPB8AAAABYktHRBJ7vGwAAAAACXBIWXMAAAsSAAALEgHS3X78AAAAWUlEQVQI11WOWw6AIAwECyLy1rn/ZW1JMPK1m+ljV0TEeThUJQCnmQhXUs0KioEKrav2BtVA0cmw2wuigVNBMHOAd5u51yit5Xme5f/wi5CxQq3G47Zis+oLorsErOXi7WAAAAAASUVORK5CYII=');
    background-size: contain;
    margin-top: -10px;
    left: -25px;
  }

  .swiper-button-next {
    width: 8px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAMAAACHxYxZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEX/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD/wAD///9+g+RIAAAAEXRSTlMAxtsDV07kwHswFfaZKucGWqG6N4EAAAABYktHRBJ7vGwAAAAACXBIWXMAAAsSAAALEgHS3X78AAAAWElEQVQI11WOVw7AMAxCM5s9uP9la6I6Uv3jJzzAWMB5IxUARIJ/gEQwWaRCqA3oR+pAq4Qhs3ykBMxFiCLt88EB9gccBV2mXdFzfXgtaDqkr/nFuME06gulMwS5Pmgs5QAAAABJRU5ErkJggg==');
    background-size: contain;
    margin-top: -10px;
    right: -25px;
  }

  @media @w768 {

    .swiper-button-prev {

      background: url("/local/assets/img/touch_arrow_left.png");
      width: 52px;
      height: 51px;
      margin-top: -25px;

    }

    .swiper-button-next {

      background: url("/local/assets/img/touch_arrow_right.png");
      width: 52px;
      height: 51px;
      margin-top: -25px;
    }

  }

  @media @w320 {

    margin: 0 -8px;
    .swiper-slide {
      text-align: center;
    }

  }



}