@import "variables";

.social-links-block {

  background: #010204;
  text-align: center;
  padding: 40px 0 60px 0;
  font-family: Roboto, sans-serif;

  h2 {

    color: #fea928;
    font-size: 38px;
    font-weight: 300;
    margin: 0 0 40px 0;
    text-align: left;

  }

  a {display: inline-block;margin: 0 15px;}


  @media @w768 {

    a {
      margin: 0 10px;
    }

  }

  @media @w320 {

    padding-bottom: 20px;

    a {
      margin: 0 10px 20px 10px;
    }

  }

}