@import "variables";

.sort-bar {

  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 30px 0;
  align-items: center;


  .sort-label {
    color: @quacol-main-color;
  }

  .sort-item {

    a {
      color: #7e7e7e;
    }

    &.-active a {color: @main-color;}



  }

  .sort-icon {
    display: inline-block;
    vertical-align: middle;
    .sprite(@ico-up-down);
  }

  .lk-button {
    vertical-align: middle;
    padding: 0 8px;
    margin: 0;
  }


  .view-button-wrapper {

    display: inline-block;
    vertical-align: middle;

    position: relative;

    .select-view-popup {
      display: none;
      background: #fff;
      position: absolute;
      bottom: 31px;
      left: 0;
      z-index: 100;
      width: 130px;
      text-align: center;
      border: 1px solid @main-color;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 7.1px 1.9px rgba(13, 40, 93, 0.17);

      a {
        display: inline-block;
        padding: 10px;
        border-radius: 10px;

        &.-active {
          background: lightgrey;
        }

        &:before {
          content: '';
          display: block;
        }

        &.-default:before {
          .sprite(@ico-view-default);
        }

        &.-view-1:before {
          .sprite(@ico-view-1);
        }

        &.-view-2:before {
          .sprite(@ico-view-2);
        }

        &.-view-3:before {
          .sprite(@ico-view-3);
        }

      }
    }


  }

}