@quacol-main-color: #24488d;

@edu-module-color-1: #59be00;
@edu-module-color-2: #db4a27;
@edu-module-color-3: #24488d;

@main-color: #3498db;
@secondary-color: #24488d;

@orange-color: #ffc000;


@gold-color: #f1ad4a;


@w1024:  ~"only screen and (max-width: 1049px)";
@w768:  ~"only screen and (max-width: 1023px)";
@w320:  ~"only screen and (max-width: 767px)";

.placeholder(@rules) {

  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}


.clearfix() {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}