@import "sprites";

@quacol-main-color: #24488d;

@edu-module-color-1: #59be00;
@edu-module-color-2: #db4a27;
@edu-module-color-3: #24488d;

@main-color: #3498db;
@secondary-color: #24488d;

@orange-color: #ffc000;


@gold-color: #f1ad4a;
@link-color: #6295d1;


@w1024:  ~"only screen and (max-width: 1049px)";
@w768:  ~"only screen and (max-width: 1023px)";
@w320:  ~"only screen and (max-width: 767px)";

.placeholder(@rules) {

  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}


.clearfix() {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.bg-full-width() {

  position: relative;

  &:before {
    content: "";
    position: absolute;

    width: 1000px;
    left: -1000px;
    top: 0;
    bottom:0;
    background: inherit;

  }

  &:after {
    content: "";
    position: absolute;

    width: 1000px;
    right: -1000px;
    top: 0;
    bottom:0;
    background: inherit;

  }

}

.sprite_2x(@sprite) {

  @sprite-offset-x: extract(@sprite, 3) /2;
  @sprite-offset-y: extract(@sprite, 4) /2;


  width: extract(@sprite, 5) /2;
  height: extract(@sprite, 6) /2;
  background-image: url(@spritesheet-image);
  background-size: @spritesheet-width/2 @spritesheet-height/2;
  background-position: @sprite-offset-x @sprite-offset-y;


}


.style-scrollbars(@size) {


  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  }

  &::-webkit-scrollbar {
    height: @size;
    overflow: visible;
    width: @size;
    background: white;

  }

  &::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb:vertical {
    border-width: 2px 1px;
    min-height: 40px;
  }

  &::-webkit-scrollbar-thumb:hover {

    background-color: #AAA;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }

}


.gold-scrollbars(@size) {

  /* ===== Scrollbar CSS ===== */
  /* Firefox */

  scrollbar-width: auto;
  scrollbar-color: @gold-color #d4d8d8;


  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: @size;
    height: @size;
  }

  &::-webkit-scrollbar-track {
    background: #d4d8d8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @gold-color;

    border: 3px solid transparent;
  }
}