@import "../inc/variables";

.ee-author {
  position: relative;
  padding:8px 0 0 72px;
  min-height: 57px;
  font-size: 16px;
  box-sizing: border-box;

  a {
    color: inherit;
    text-decoration: none;
  }

  .author-photo {
    position: absolute;top: 0;left: 0;

    img {display: block;border-radius: 100%;border: 1px solid #fff;}
  }

  .author-name {
    font-weight: 500;
    margin-bottom: 8px;
  }

  .author-id {
    color: #5a5858;
    font-size: 14px;
  }


}