@import "../inc/variables";

.ee-button-select-control {

  .option-item {

    display: inline-block;
    margin: 0 5px 5px 0;
    font-size: 12px;
    font-weight: 500;
    color: #686666;
    border: 1px solid #686666;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    user-select: none;

    &.-selected {
      color: @link-color;
      border-color: @link-color;
    }

  }


}