@import "../inc/variables";

.ee-contacts-card {

  background: #606162;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;

  .card-title {

    font-size: 21px;
    color: @gold-color;
    margin: 0 0 10px;
    min-height: 50px;

  }

  p {
    margin: .7em 0 0 0;
  }

  a {
    color: inherit !important;text-decoration: none;
  }


}