@import "../inc/variables";

.ee-checkbox-1 {

  user-select: none;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  input {display: none}

  span {
    display: inline-block;


    &:before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      border: 1px solid #fff;
      vertical-align: middle;
      margin-right: 11px;
      margin-top: -2px;
    }
  }

  input:checked + span:before {

    .sprite(@ico-checkbox-1);

  }


}