@import "../inc/variables";

.ee-create-publication-button-wrapper {


    text-align: center;
    margin-bottom: 25px;

    a {

      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      background: #e5aa12;
      height: 39px;
      line-height: 39px;
      padding: 0 15px;
      border: 1px solid #fff;
      border-radius: 5px;
    }



}