@import "../inc/variables";

.ee-comments {

  background: #212121;
  color: #fff;

  padding: 30px 10px 10px 10px;

  .top-toolbar {

    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 25px;

    .sort-control {

      .sort-link {

        color: #7e7e7e;
        text-decoration: underline;
        display: initial;
        margin-left: 8px;

        &.-active {
          color: #6295d1;
        }

      }

    }

    .disable-adds-checkbox {

      color: #7e7e7e;
    }

  }

  .load-more-wrapper {
    text-align: center;
  }

}