@import "../inc/variables";

.ee-colexa-page {

  &__section {
    margin-bottom: 60px;

    a {
      color: @gold-color;
      text-decoration: none;


    }


    h2 {
      color: #f1ad4a;
      font-weight: 300;
      font-size: 38px;
      margin: 0 0 35px 0;
    }
  }

  &__banner {
    background: #fff;
    text-align: center;
    padding: 30px;


    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }

  &__auth {

    margin: 0 auto;
    background: fade(#101012, 85%);
    max-width: 640px;
    padding: 15px;


  }

  &__experts {

    .face-block-v2 {
      margin-bottom: 30px;
    }


  }

  &__publications {

    &-list {

      display: flex;
      flex-wrap: wrap;
      gap: 15px;


    }

    &-more-link {
      margin-top: 15px;
      text-align: right;


    }

  }

  &__link {
    text-align: center;
  }


}