@import "../inc/variables";

.ee-default-section {

  margin-bottom: 30px;


  h2 {
    color: @gold-color;
    font-size: 38px;
    font-weight: 300;
    margin: 0 0 30px 0;
  }

  @media @w320 {

    h2 {
      font-size: 27px;
    }

  }
}