@import "../inc/variables";

.ee-date-time-range-picker {

  .widget-row {
    margin-bottom: 5px;

    &:last-child {margin-bottom: 0}
  }

  .row-label {

    display: inline-block;
    width: 160px;
    color: @link-color;
    font-size: 18px;

  }

  .field-wrapper {
    display: inline-block;

    span {
      display: inline-block;
      width: 20px;
      font-size: 18px;
      color: #606162;
    }

    input {
      background: none;
      border: 1px solid #fff;
      outline: none;
      border-radius: 3px;
      width: 140px;
      height: 27px;
      line-height: 27px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      font-family: inherit;

    }

    &:last-child {

      margin-left: 20px;

      span {width: 30px;}

    }

  }

}