@import "../inc/variables";

.ee-date-range-picker-popup {

  user-select: none;

  .date-range-select {

    display: flex;
    justify-content: space-around;


    .date-from-wrapper, .date-to-wrapper {

      flex: 0 0 auto;

      //min-width: 407px;

      .date-input {
        text-align: right;
        margin-bottom: 15px;
        color: #fff;

        label {
          font-size: 18px;
          font-weight: 500;
          display: inline-block;
          margin-right: 5px;
        }

        input {
          border: 1px solid #fff;
          border-radius: 5px;
          outline: none;
          font-family: inherit;
          font-size: 16px;
          color: #fff;
          background: none;
          text-align: center;
          padding: 4px 0;
          width: 150px;
        }

      }

    }

    .date-to-wrapper .date-input {text-align: left;}

    .date-calendar {
      background: #101011;
      border: 2px solid #acadae;
      padding: 10px;
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }
    }


    .calendar-controls {

      display: flex;
      justify-content: space-between;
      margin-bottom: 11px;
      user-select: none;

      > div {

        flex: 0 0 auto;
        width: 30%;
        color: #fff;
        position: relative;
        border: 1px solid #fff;
        border-radius: 5px;
        height: 27px;
        line-height: 27px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;

      }

      .control-month {

        width: 36%;

      }

      i {
        font-size: 12px;
        position: absolute;
        cursor: pointer;
        top: 3px;
        background: #78797a;
        border-radius: 5px;
        width: 30px;
        height: 19px;
        line-height: 19px;
        &:first-child {left: 3px}
        &:last-child {right: 3px}
      }


    }



    .ui-datepicker-inline {width: 100%}
    .ui-datepicker-header {display: none}
    .ui-widget.ui-widget-content {border: none;background: #bcb9b9;border-radius: 0;font-family: inherit !important;}

    .ui-datepicker th {color: #000;font-size: 16px;font-weight: 500;padding: 10px 20px}
    .ui-datepicker th.ui-datepicker-week-end {color: #f14003;}
    .ui-datepicker td.ui-datepicker-week-end a {color: #f14003;}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {

      background-color: #2e2f2f;
      background-image: linear-gradient(to top, #d7d7d7 0%, white 100%);
      border:none;
      color: #4a4c4e;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      padding: 10px 20px;
    }

    .ui-state-active {
      background: #000 !important;
      color: #fff !important;
    }

    .ui-state-range {
      background: #000 !important;
      a {
        background: none !important;
        &.ui-state-default {
          color: #fff;
        }

      }



    }






  }


  .window-actions {
    text-align: right;
    padding: 10px 10px 0 0;

    button {
      font-family: inherit;
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      border: 1px solid #fff;
      background: @gold-color;
      color: #101011;
      font-size: 12px;
      font-weight: 500;
      padding: 5px 20px;
      margin-left: 5px;

      &.-grey {
        background: #78797a;
        color: #fff;
      }

    }
  }




  @media @w320 {

    .date-range-select {

      display: block;

      > div {
        margin-bottom: 20px;
      }

      .date-calendar {
        padding: 0;
        border: none;
      }

      .calendar-controls {
        display: block;

        > div {width: 70% !important;margin:0 auto 5px auto}

      }

      .date-input {

        text-align: center !important;
        text-transform: uppercase;
        font-size: 22px;

        input {display: none};

      }

    }


    .date-range-select .ui-state-default, .date-range-select .ui-widget-content .ui-state-default, .date-range-select .ui-widget-header .ui-state-default, .date-range-select .ui-button, .date-range-select html .ui-button.ui-state-disabled:hover, .date-range-select html .ui-button.ui-state-disabled:active {

      padding: 5px 5px;

    }

    .date-range-select .ui-datepicker th {
      padding: 5px 5px;
    }


    .window-actions {
      padding: 0;
      text-align: center;
    }




    }

}