@import "../inc/variables";

.ee-endoquest-header {

  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {

    .ee-endoquest-menu {
      height: 100%;
    }

  }

}

@media @w768 {

  .ee-endoquest-header {

    display: block;

    &__logo {
      justify-content: center;
      margin-bottom: 10px;
    }

  }

}