@import "../inc/variables";

.ee-endoquest-header-line {

  width: 100%;
  height: 1px;
  background-color: #24488d;
  background-image: linear-gradient(70deg, #08107b 0%, #5e145a 44%, #ed1c24 100%);

  @media @w768 {
    display: none;
  }

}