@import "../inc/variables";

.ee-events-list-legend, .page-events .events-list-legend {

  margin: 40px 0 25px 0;
  background: #101011;
  border: 1px solid #fff;
  padding: 20px;
  color: #fff;
  column-count: 2;
  font-size: 16px;

  a {
    color: #fff !important;
  }

  .legend-item {

    display: flex;
    justify-content: stretch;
    width: 100%;
    min-height: 60px;

    .item-icon {
      width: 60px;
      flex: 0 0 auto;
      margin-right: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .item-text {

      display: flex;
      flex-direction: column;
      justify-content: center;

      p {margin: 0}

      span {color: @gold-color}

    }



  }

}