@import "../inc/variables";

.ee-endoquest-support {

  text-align: center;

  &__title {
    color: #08107b;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &__logos {

    a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 40px;
    }

  }

}

@media @w768 {

  .ee-endoquest-support {

    &__logos {

      img {
        margin-bottom: 35px;
      }
    }

  }

}