@import "../inc/variables";

.ee-endoquest-content {

  color: #24488d;
  font-weight: normal;
  line-height: 1.4;

  h2 {
    color: inherit;
    text-align: center;
    font-weight: 500 !important;
    text-transform: uppercase;
  }


}