@import "../inc/variables";

.ee-form-anketa {


  &__row-1 {
    display: flex;
    margin-bottom: 30px;

    .form-textarea {
      height: 100% !important;
    }

    &-col-1 {
      flex: 0 0 auto;
      margin-right: 30px;
    }

    &-col-2 {
      flex: 1 1 auto;
    }
  }

}

@media @w768 {

  .ee-form-anketa {
    &__row-1 {
      display: block;
    }
  }

}
