@import "../inc/variables";

.ee-from-redaction {

  background: #606162;
  min-height: 100px;

  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 20px 5px 165px;

  color: #fff;
  line-height: 1.4;
  position: relative;


  &__close {

    font-size: 17px;
    color: #97989a;

    border: 1px solid #97989a;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 14px;

    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

  }


  .block-img {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    border: 3px solid @gold-color;
    background: #101011 url("/local/assets/img/endoexpert_logo2.png") center center no-repeat;
  }

  .block-title {
    font-weight: 300;
    font-size: 21px;
    color: @gold-color;
    margin: 0 0 5px 0;

  }

  p {
    margin: 0;
  }

}