@import "../inc/variables";

.ee-form {

  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-actions {
    padding-top: 5px;
    text-align: right;

    .ee-button-3 {
      font-weight: 300;
    }

  }

  .form-item {

    margin-bottom: 15px;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;

    &.-half {
      width: ~"calc(50% - 7px)";
    }

    label {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;

      sup.-required {
        color: #fd0404;
        font-size: 20px;
        top: 0;
      }

    }
  }

  .form-text, .form-select, .form-textarea, .admin-notes {

    height: 48px;
    box-sizing: border-box;
    line-height: 46px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #606162;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    font-family: inherit;
    outline:none;
    font-weight: 300;

    .placeholder({color: #bbbbbb});

  }

  .admin-notes {
    height: auto;
    line-height: 1.3;
    padding: 10px 15px;
  }

  .form-textarea {

    resize: none;
    line-height: 1.3;
    padding: 10px 15px;

  }

  .select-wrapper {
    position: relative;

    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f078';
      color: #fff;
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -8px;
      pointer-events: none;
    }
  }

  .form-select {

    padding-right: 25px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


  }

  .ee-checkbox-4 {

    color: #989899;

  }

  .char-counter-wrapper {

    position: relative;

    .chars-remaining {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 10px;
      color: #9c9696;
    }
  }

  .form-checkboxes-group {

    margin: 20px 0;
  }




  &.-small {

    .form-item {margin: 0 0 10px 0}

    .form-text, .form-select, .form-textarea, .admin-notes {

      height: 27px;
      line-height: 25px;
      font-size: 13px;
      padding: 0 5px;

    }

  }


  @media @w320 {

    .form-item {width: 100% !important;}

  }

}

