@import "../inc/variables";

.ee-fixed-table {

  position: relative;

  table {

    td,th {
      vertical-align: top;
      padding: 10px;
    }

    th {
      vertical-align: middle;

    }

  }

  .clone {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow:hidden;



  }


}