@import "../inc/variables";

.ee-field-validate-error {

  position: relative;
  height: 0;
  width: 0;

  span {
    position: absolute;
    top:5px;
    white-space: nowrap;
    color: red;
    font-size: 11px;
  }

}