@import "../inc/variables";

.ee-faq-list {

  .list-item {
    margin-bottom: 25px;
  }

  .item-question {
    color: @gold-color;
    cursor: pointer;
    font-size: 21px;
    margin-bottom: 10px;
  }

  .item-answer {

    a {text-decoration: underline}

  }



  .load-more-wrapper {

    margin-top: 10px;
    text-align: center;

  }

}