@import "../inc/variables";

.ee-games-slider {






  .slide-title {
    font-size: 24px;
    margin-bottom: 30px;
    color: @gold-color;
    padding-left: 20px;

    a {
      text-decoration: none;
    }

  }

  .slide-image {
    background: #606162;
    //text-align: center;
    height: 305px;
    box-sizing: border-box;
    padding:20px 0 0 20px;

  }

  @media @w320 {

    .slide-title {
      text-align: left;
      margin-bottom: 10px;
      font-size: 19px;
      padding-left: 10px;
    }

  }


}