@import "../inc/variables";

.ee-input-1 {

  border: 1px solid #606162;
  border-radius: 5px;
  outline: none;
  background: #333332;
  color: #fff;
  height: 26px;
  line-height: 27px;
  padding: 0 8px;
  font-family: inherit;
  font-size: 14px;

  .placeholder({
    color: #606162;
  })


}