@import "../inc/variables";

.ee-lk {

  position: relative;

  &__section {
    margin-bottom: 30px;
  }

  &__title {

    font-size: 31px;
    color: @link-color;
    margin-bottom: 35px;

  }

  &__text-1 {

    color: @gold-color;
    margin-bottom: 50px;


  }

  .ee-lk-window {
    margin-bottom: 40px;
  }

  .ee-from-redaction {
    margin-bottom: 50px;
  }


  .ee-expandable-text-5 {


    &__title {
      font-size: 31px;
    }

  }

  .ee-lk-services {
    margin-bottom: 50px;
  }

  .ee-push-block {
    margin: 0 0 40px 300px;
  }


}