@import "../inc/variables";

.ee-login-auth-block {



  &__row {
    display: flex;
    margin: 0 -5px;
  }

  &__col {

    flex: 0 0 auto;
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;

  }

  &__title {
    font-size: 19px;
    color: @gold-color;
    margin-bottom: 15px;

  }

  .ee-form {

    .form-item .ee-checkbox-4 {
      font-size: 11px;
    }

    .form-actions {

      .ee-button-3 {

        height: 30px;
        line-height: 28px;
        padding: 0 10px;


      }
    }


  }

  .ee-lock-code {
    margin: 90px auto 0;
  }


}

@media @w320 {

  .ee-login-auth-block {

    .ee-lock-code {margin-top: 20px}

    &__row {
      flex-direction: column;

    }

    &__col {
      width: 100%;
    }

  }

}