@import "../inc/variables";

.ee-lk-invite {

  font-size: 17px;
  color: #8c8d8f;

  &__text {

    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    > div:last-child {
      margin-left: 40px;
    }

    .ee-button-17 {
      width: 190px;
    }
  }


}

@media @w768 {

  .ee-lk-invite {

    display: flex;
    flex-direction: column;

    &__text {
      order: 2;
    }

    &__button {
      order: 1;
      display: block;
      margin-bottom: 25px;

      div:last-child {
        margin: 10px 0 0 0;
        text-align: center;
      }
    }

  }

}