@import "../inc/variables";

.ee-lk-nmo-table {


  overflow-x: auto;


  table {

    border-collapse: collapse;
    font-size: 14px;
    width: 100%;


    th, td {
      padding: 10px;
      font-weight: normal;
      border: 1px solid #d3d3d3;


      &:last-child {
        white-space: nowrap;

      }
    }

    th {
      background: #101011;
    }

    td {
      background: #5a5858;

      &:last-child {
        text-align: right;

        .ee-button-8 {
          margin-left: 10px;
        }
      }
    }

  }




}