@import "../inc/variables";

.ee-lk {

  position: relative;

  .ee-lk-window {
    margin-bottom: 40px;
  }

  .ee-from-redaction {
    margin-bottom: 50px;
  }


  .ee-expandable-text-5 {


    &__title {
      font-size: 31px;
    }

  }

  .ee-lk-services {
    margin-bottom: 50px;
  }



}