@import "../inc/variables";

.ee-login-auth-block {


  color: #fff;

  &__row {
    display: flex;
    margin: 0 -5px;
  }

  &__col {

    flex: 0 0 auto;
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;

    &:first-child {
      border-right: 1px solid #444444;
      padding-right: 10px;
    }

    &:last-child {
      padding-left: 10px;
    }

  }

  &__title {
    font-size: 19px;
    color: @gold-color;
    margin-bottom: 15px;

  }

  &__description {
    font-size: 14px;
    margin-top: -10px;
  }

  .ee-form {

    .form-item .ee-checkbox-4 {
      font-size: 11px;
    }

    .form-actions {
      position: relative;

      .ee-button-3 {

        height: 30px;
        line-height: 28px;
        padding: 0 10px;



      }
    }

    .form-links {
      position: absolute;
      top: 5px;
      left: 0;
      text-align: left;
      font-size: 14px;

      a {
        color: @link-color;
      }
    }


  }

  .ee-lock-code {
    margin: 90px auto 0;
  }


}

@media @w320 {

  .ee-login-auth-block {

    .ee-lock-code {margin-top: 20px}

    &__row {
      flex-direction: column;

    }

    &__col {
      width: 100%;

      &:first-child {

        padding-right: 5px;
        border-right: 0;
      }

      &:last-child {
        padding-left: 5px;
      }

    }

  }

}