@import "../inc/variables";

.ee-lk-window-v2 {

  background-color: #3f3f41;
  border: 1px solid white;
  border-radius: 6px;
  margin: 45px 0;

  padding: 15px 30px 15px 15px;

  display: flex;
  position: relative;


  &__close {

    font-size: 22px;
    color: #5a5858;


    border: 2px solid #5a5858;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 16px;

    position: absolute;
    top: 10px;
    right: 17px;
    cursor: pointer;

  }

  &__icon {

    background: #3f3f41;
    border: 3px solid #fff;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: -27px 0;


  }

  &__col-1 {
    flex: 0 0 auto;
    width: 136px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  &__col-2 {
    flex: 1 1 auto;
  }

  &__col-3 {
    flex: 0 0 auto;
    margin-left: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    font-size: 21px;
    color: @gold-color;

    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;

    a {
      color: @link-color;
    }
  }



  .ee-lk-subscribe-form {


    margin-top: 20px;

  }

  &--subscribe {

    .ee-lk-window-v2__icon {
      background: #27a006;
    }

    &.disabled {

      background: #fb1f02;

      .ee-lk-window-v2__icon {
        background: #3f3f41;
      }

      .ee-lk-window-v2__title {
        color: #fff;
        font-weight: 500;
      }

    }

  }



}