@import "../inc/variables";

.ee-lk {

  position: relative;

  .ee-from-redaction {
    margin-bottom: 50px;
  }


  .ee-expandable-text-5 {

    margin-bottom: 50px;


    &__title {
      font-size: 31px;
    }

  }



}