@import "../inc/variables";

.ee-list-calc {

  color: #2e2f2f;

  h2 {
    text-align: center;
    font-size: 24px;
    color: #2e2f2f;


  }

  h3 {
    font-size: 18px;
    color: #2e2f2f;
  }

  label {
    color: inherit;
  }

}

.ee-list-calc--dark {

  color: #fff;

  h2, h3 {
    color: #fff;
  }

}