@import "../inc/variables";

.ee-lk-subscribe-form {

  .ee-form {
    display: flex;
    max-width: 530px;
    margin: 0 auto;
  }

  .ee-button-17 {
    height: 48px;
    line-height: 46px;
    padding: 0 40px;
    margin-left: 20px;
  }


}

@media @w320 {

  .ee-lk-subscribe-form {

    .ee-form {
      display: block;
    }

    .ee-button-17 {

      margin: 20px 0 0 0;

    }



  }

}