@import "../inc/variables";

.ee-lk-invite {

  font-size: 17px;
  color: #8c8d8f;

  &__text {

    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    > div:last-child {
      margin-left: 40px;
    }

    .ee-button-17 {
      width: 190px;
    }
  }


}