@import "../inc/variables";

.ee-nominate-popup {

  &-wrapper {

    position: relative;
  }

  position: absolute;
  top: -30px;
  left: -270px;
  width: 240px;
  z-index: 100;

  background: #606162;
  padding: 10px;
  font-size: 14px;

  .popup-title {
    i {color: @gold-color}
  }

  p {
    margin: 1em 0;
  }

}