@import "../inc/variables";

.ee-online-block {

  background: #606162;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 7px 20px 7px 230px;
  position: relative;

  .block-icons {

    position: absolute;top: -14px;left: 10px;

    span, a {

      display: inline-block;
      width: 84px;
      height: 84px;
      box-sizing: border-box;
      border: 3px solid @gold-color;
      border-radius: 100%;
      background: #000;
      margin-right: 5px;

      &.-logo {
        background: #000 url("/local/assets/img/endoexpert_logo2.png") center center no-repeat;
        background-size: contain;
      }

      &.-play {
        background: #000 url("/local/assets/img/icons/ico_play_red.png") center center no-repeat;

      }



    }



  }

  .block-text {

    span {
      color: @gold-color;
      font-size: 38px;
      vertical-align: middle;
    }

  }

  .block-button {

    background: #f70e16;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 50px;
    margin-left: 40px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;

  }


}