@import "../inc/variables";

.ee-push-block {

  button {

    display: inline-block;
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    font-family: inherit;
    cursor: pointer;

    i {
      width: 36px;
      height: 36px;
      background: @link-color;
      border-radius: 100%;
      line-height: 36px;
      border: 1px solid #fff;
      margin-right: 20px;
    }



  }

  p {
    margin: 10px 0 0 0;
    color: #8c8d8f;
  }


}