@import "../inc/variables";

.ee-popup-v2 {

  padding: 30px 7px 7px 7px;
  background: #101011;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  max-width: 790px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;

  &.-w1000 {

    max-width: 1000px;
  }

  .mfp-close {
    color: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    line-height: 0;
    font-size: 18px;
    top: 5px;
    right: 20px;
    text-align: center;
  }



  .popup-body {

    background: #78797a;
    border-radius: 5px;
    padding: 10px;

    font-size: 13px;

    .-text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }





  }

  .popup-footer {
    margin-top: 7px;
    text-align: right;

    .ee-button-9 {
      margin-left: 5px;
    }
  }




}