@import "../inc/variables";

.ee-quiz-card {

  position: relative;

  &__title {
    font-size: 38px;
    font-weight: 300;
    color: @gold-color;
    padding-right: 300px;
    margin-bottom: 25px;
  }

  &__refresh {
    position: absolute;
    top: 0;
    right: 0;

    &:before {
      content: '';
      position: absolute;
      top: -15px;
      left: -130px;
      background: url('/local/assets/img/random.png') top left no-repeat;
      width: 90px;
      height: 80px;
      background-size: contain;
    }


  }

  &__row-1 {
    display: flex;
    justify-content: space-between;
  }

  &__col-1 {
    flex: 0 0 auto;
    width: 328px;
    margin-right: 10px;
    border-bottom: 1px solid #c5c0c0;

    img {
      display: block;
    }
  }

  &__col-2 {

    flex: 1 1 auto;
    border-bottom: 1px solid #c5c0c0;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
  }

  &__question {

    font-size: 24px;
    color: #6a6967;
    margin-bottom: 15px;

    span {
      color: @gold-color;
    }

  }

  &__author {
    color: #6a6967;
    margin-bottom: 35px;
  }

  &__actions {

    position: absolute;
    right: 0;
    bottom: 10px;

    >* {
      display: inline-block;
      margin: 0 3px;
    }

  }



}