@import "../inc/variables";

.ee-qa-slider {

  .swiper-slide {

    border-radius: 10px;
    border: 1px solid #fff;
    padding: 20px 15px 0 15px;
    background: #606162;
    box-sizing: border-box;

  }

  .slide-header {
    display: flex;
    justify-content: space-between;
  }

  .slide-title {
    font-size: 31px;
  }

  .slide-info {
    color: #bdb8b8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .slide-body {

    .slide-question {
      font-size: 20px;

      b {font-size: 16px}
    }

    p {
      margin: 20px 0;
    }

    b {
      font-weight: 300;
      text-transform: uppercase;
      color: #bdb8b8;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

  }

  @media @w320 {

    .slide-header {
      display: block;
    }

    .slide-title {
      margin-bottom: 30px;
      font-size: 27px;
    }

    .slide-info {
      text-align: right;
    }

    .swiper-slide {
      text-align: left;
    }

  }


}