@import "../inc/variables";

.ee-random-article {

  background: #fff;
  color: #101011;
  padding: 20px;

  a {color: inherit !important;}

  .toolbar-1 {
    background: #101011;
    padding: 7px 10px;
    margin: 0 -20px;

    .sep {
      width: 1px;
      background: #7a7979;
      display: inline-block;
      height: 13px;
      margin: 0 4px;
      vertical-align: middle;
    }

    i {vertical-align: middle;}

    .ico-learn, .ico-favorite {
      cursor: pointer;
    }

  }

  .article-title {

    font-size: 40px;
    font-weight: 300;
    margin: 0 0 20px 0;

  }

  .text-section h3 {
    font-weight: 300;
    margin: 10px 0 5px 0;
    font-size: 21px;
  }



}