@import "../inc/variables";

.ee-reg-block {

  .block-text {

    background: #78797a;
    padding: 30px 20px;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 15px;

    a.-gold {
      color: @gold-color;
      text-decoration: none;
    }

  }

  .block-button {
    text-align: center;

    a {
      font-size: 21px;
      text-transform: uppercase;
      display: inline-block;
      border-radius: 5px;
      padding: 7px 15px;
      background: #fa2f07;
      text-decoration: none;

    }
  }

}