@import "../inc/variables";

.ee-s2s-banner {

  background: lightgoldenrodyellow;
  padding-top: 20px;

  color: #0b0b0b;
  text-align: center;

  &__text {
    margin-bottom: 20px;
  }

  &__image {
    z-index: 999;
    position: relative;

    img {
      width: 100%;
      max-width: 1920px;
      height: auto;
    }
  }

}

@media @w768 {

  .ee-s2s-banner {

    &__image {
      margin: 0 -10px !important;
    }

  }

}
