@import "../inc/variables";

.ee-search-block-2 {

  padding: 25px 0 45px 0;
  box-sizing: border-box;


  .form-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 12px;

    &:before {
      content: '';
      position: absolute;
      top: -34px;left: -55px;
      .sprite(@icon-search-4);

    }

    .form-text {

      color: #fff;
      flex: 1 1 auto;
      font-family: inherit;
      background: none;
      border-radius: 10px;
      border: 4px solid @gold-color;
      font-size: 12px;
      font-weight: 500;
      height: 41px;
      line-height: 41px;
      box-sizing: border-box;
      outline: none;
      padding: 0 30px 0 75px;
      background: #101011;

      .placeholder({
        color: #abacac;
      });




    }

    i.control-clear {

      position: relative;
      left: -25px;
      top:12px;
      color: @gold-color;
      cursor: pointer;

    }

    button {

      font-family: inherit;
      flex: 0 0 auto;
      width: 110px;
      margin-left: 12px;
      margin-right: 12px;
      box-sizing: border-box;
      border: 3px solid #101011;
      background: @gold-color;
      color: #101011;
      height: 41px;
      line-height: 35px;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      font-weight: 500;
      font-size: 14px;
      box-shadow: 0 0 10px rgba(244, 245, 246, 0.4);

    }

  }

  .last-queries {

    position: relative;
    z-index: 100;

    span {
      display: inline-block;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      color: #686666;
      border: 1px solid #686666;
      border-radius: 5px;
      padding: 5px 10px;
      white-space: nowrap;
      margin-right: 5px;
      margin-bottom: 8px;
      background: #101011;
    }

    .expand-toggle {
      display: none;
    }

  }


  @media @w320 {

    padding-top: 0;
    padding-bottom: 0;

    .form-wrapper {
      display: block;

      &:before {


        .sprite(@icon-search-4-small);

        left:-10px;
        top: -3px;

      }

      .form-text {
        width: 100%;
        border-width: 2px;
        border-radius: 3px;
        height: 26px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 300;
        padding: 0 40px 0 28px;



      }

      button {

        text-indent: -9999px;
        overflow: hidden;
        border: none;
        box-shadow: none;
        position: absolute;
        top: 2px;
        right: 0;
        height: 22px;
        margin: 0;
        line-height: 22px;
        border-radius: 3px;
        width: 30px;
        background: none;

        &:before {
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: block;
          text-indent: initial;
          color: @gold-color;


        }

      }

      i.control-clear {

        display: none;

      }

    }

    .last-queries {

      position: relative;
      padding-right: 30px;
      overflow: hidden;
      max-height: 25px;

      &.-expanded {
        max-height: 9999px;
        padding-right: 0;
        .expand-toggle {
          display: none;
        }
      }

      .expand-toggle {
        display: block;
        color: #686666;
        position: absolute;
        width: 30px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        top: 0;
        right: 0;
      }

    }



  }


}