@import "../inc/variables";

.ee-slider-3 {

  .swiper-pagination {text-align: right;padding-right: 20px;box-sizing: border-box;bottom: 20px;}

  .swiper-pagination-bullet {background: none;opacity: 1;border: 1px solid #fff;}

  .swiper-pagination-bullet-active {background: #f3b500;border: 1px solid #f3b500;}

  .swiper-slide {

    img {
      width: 100%;
      height: auto;
      display: block;
    }

  }

  .swiper-button-prev {
    .sprite(@ico-arrow-left);
    background-size: initial;
    margin-top: -10px;
    left: -25px;
  }

  .swiper-button-next {
    .sprite(@ico-arrow-right);
    background-size: initial;
    margin-top: -10px;
    right: -25px;
  }

  @media @w768 {

    .swiper-button-prev {

      .sprite(@touch-arrow-left);
      margin-top: -25px;

    }

    .swiper-button-next {

      .sprite(@touch-arrow-right);
      margin-top: -25px;
    }

  }

  &--pagination-top-right {

    .swiper-pagination {
      bottom: auto;
      top: 10px;
      padding-right: 10px;
    }
  }

}