@import "../inc/variables";

.ee-social-connect {

  &__title {
    color: @gold-color;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;



    &-name {

      font-size: 14px;

      svg {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }

    }

    &-button {

      .ee-button-18 {
        width: 100px;
      }

    }

  }


}