@import "../inc/variables";

.ee-top-authors-block {

  .authors-list {

    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;

    b, strong {

      font-weight: 500;

    }

  }

  .block-links {


    text-align: right;
    color: @gold-color;
    font-size: 16px;

    a {
      color: inherit;
      text-decoration: none;
    }

  }


}