@import "../inc/variables";

.ee-upload-file-widget {

  position: relative;
  min-height: 120px;
  padding-left: 135px;

  input[type=file] {display: none}


  .file-preview {

    position: absolute;
    top: 0;left: 0;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    background: #f2f2f2 center center no-repeat;
    background-size: contain;
    cursor: pointer;
    box-sizing: border-box;

    .placeholder-text {
      padding: 15px 10px;
      text-align: center;
      color: #8e8e8e;
      position: relative;
      z-index: 100;

      &.-mobile {display: none;}
    }

    .file-info {

      color: #8e8e8e;
      text-align: center;
      padding: 27px 10px;
      display: none;

      .file-icon {

        font-size: 32px;
        margin-bottom: 5px;

      }

      .file-name {
        font-size: 12px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .file-size {
        font-size: 10px;
      }
    }


    &.-dragging {

      border: 1px dashed #3498db;

    }



    &:before {
      content: "";
      position: absolute;top: 39px;left: 35px;
      .sprite(@ico-image-wrapper);
      z-index: 1;
    }

    .control-delete {

      display: none;
      width: 17px;
      height: 17px;
      border: 1px solid #3498db;
      border-radius: 3px;
      position: absolute;
      top: 5px;right: 5px;
      cursor: pointer;
      color: #3498db;
      font-weight: 500;
      text-align: center;
      line-height: 17px;
      background: #fff;

    }
  }

  .file-item {


    &.-active {

      .file-preview {

        &:before {
          display: none;
        }

        .placeholder-text {
          display: none;
        }

        .file-info {
          display: block;
        }

        &:hover .control-delete {display: block}


      }

    }

  }

  .select-link {

    margin-bottom: 20px;
    padding-top: 15px;

    span {

      color: @link-color;
      text-decoration: underline;
      font-size: 14px;
      cursor: pointer;

      &.-mobile {display: none;}

    }

  }

  .field-description input {

    background: #d6d4cf;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    padding: 0 10px;
    height: 42px;
    line-height: 40px;

  }

  .field-description textarea {

    background: #d6d4cf;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-weight: 300;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;


  }


  @media @w320 {

    padding-bottom: 57px;


    .field-description {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .file-preview .placeholder-text {
      display: none;

      &.-mobile {display: block}
    }

    .select-link span {
      display: none;

      &.-mobile {display: inline-block}
    }

  }



}