@import "../inc/variables";

.ee-video-timecodes {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: .5em 0;
      cursor: pointer;

      a {
        color: @link-color;
      }
    }
  }


}