@import "../inc/variables";

.ee-video-player {

  position: relative;
  box-sizing: border-box;
  padding-bottom: 56.25%;

  &__preloader {
    background: #101011;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .video-js {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .vjs-big-play-button {

      top: 50%;
      left: 50%;
      margin-left: -1.5em;
      margin-top: -0.815em;
      border: 2px solid #fff;
      background-color: fade(red,90%) !important;
      outline: none;

      &:hover {
        background-color:  red !important;
      }



    }

    .vjs-control-bar {
      background-color: #2B333F;
    }

  }

  &__overlay-banner {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: #000;
    font-size: 16px;
    color: #fff;
    z-index: 150;

    &--top {
      bottom: auto;
      top: 0;
      height: 60px !important;
    }

  }

  &__ad {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #000;
    display: none;
    z-index: 100;

    video {
      max-width: 100%;
      height: 100%;
    }
  }

  &__vk-overlay-bottom {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 90;

  }

  &__vk-overlay-top {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    z-index: 90;

  }


}

@media only screen and (max-width: 534px) {


  .ee-video-player__overlay-banner {
    height: 80px;
  }

}

//noinspection CssInvalidPseudoSelector
video::-webkit-media-controls-start-playback-button { display: none; }
.video-js.vjs-controls-enabled .vjs-big-play-button { display: none; }
.video-js.vjs-controls-enabled.vjs-paused .vjs-big-play-button { display: block; z-index: 200}


.vjs-fullscreen .mfp-wrap {
  top: 0 !important;
}