@import "variables";

.edu-module-feedback-block {

  height: 63px;
  line-height: 63px;
  background-color: @quacol-main-color;
  box-shadow: 0 2px 7.1px 1.9px rgba(13, 40, 93, 0.17);
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;

  a {font-weight: 900;text-decoration: underline;color: #fff;}


}