@import "variables";

.edu-module-invite-block {


  box-shadow: 0 2px 7.1px 1.9px rgba(13, 40, 93, 0.17);
  color: @quacol-main-color;
  margin-bottom: 40px;
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;

  .block-title {
    margin-bottom: 10px;
  }

  form {

    width: 290px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    border: 2px solid @quacol-main-color;
    border-radius: 6px;
    overflow: hidden;

    input[type=text] {

      width: 100%;
      height: 31px;
      box-sizing: border-box;
      padding: 0 50px 0 10px;
      line-height: 31px;
      font-size: 16px;
      outline: none;
      border: none;

    }

    input[type=submit] {

      width: 43px;
      height: 31px;
      position: absolute;top:0;right: 0;
      outline: none;
      border: none;
      border-radius: 6px 0 0 6px;
      cursor: pointer;
      background: @quacol-main-color center center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAOCAMAAAD6xte7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAArlBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////NiyPrAAAAOXRSTlMA1uzw8thNTFc3paQn+73n7m/8yElwHCANwUWSQ1gpvz6ZUlQttzydT1MutTanMpwzqKZkOTWRjtXrsB7vAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAH5JREFUGNNdyNcOgkAARNEL9q7YK3YFe3f+/8dcYwws92EmOTiurFLpDFI2l48qFCVclYhVrlRr1BteM6KW2h0PdXvq/2mgISOhMRP5P5pqBnNjC1hq9aW1Nma3xgLzoXaw14GYcdTprAuWGdSVhBHeiOyO3cPYM7B7ibeSOR9kiBlnJ8GEYAAAAABJRU5ErkJggg==');

    }

  }


}