@import "variables";

.mv-btn {

  display: inline-block;
  font-size: 18px;
  color: @mvColor;
  font-weight: 900;
  height: 38px;
  line-height: 34px;
  padding: 0 20px;
  border: 2px solid @mvColor;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  font-family: inherit;


  &.-orange {

    color: #fff;
    background: @mvOrangeColor;
    border: none;
    line-height: 38px;

  }

  &.-orange-text {
    color: @mvOrangeColor;
  }

}